/* tablet content */
/* end of tablet content */
body {
  min-width: 0; }

.top-title.title__2 {
  top: 130px; }

.s1__bg-image, .s1__bg-points {
  top: auto;
  height: 43%;
  bottom: 0;
  min-width: auto;
  width: 100%; }
.s1__bg-points {
  background-image: url(../images/2-bg-point-m.png); }
.s1__container {
  position: relative;
  top: auto;
  padding: 0 20px;
  z-index: 1;
  -webkit-transform: none;
  -moz-transform: none;
  -o-transform: none;
  -ms-transform: none;
  transform: none; }
.s1__container, .s1__content .title__3 {
  text-align: center; }
.s1__people {
  position: relative;
  margin: auto; }
.s1__content {
  position: static;
  text-align: left;
  max-width: none; }
.s1__link {
  transform: none;
  margin-top: 20px;
  max-width: 50px; }

.s7__bg-points {
  background-position: 60% top; }
.s7__bg-points ~ .top-title.title__2 {
  top: 80px; }
.s7__content .col-4 {
  margin-bottom: 50px;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%; }

.s8__top-offset-1 {
  margin-top: 30%; }

.s9__bg-cover, .s10__bg-cover, .s11__bg-cover {
  max-width: 70%; }

.s11__bg-cover {
  bottom: 70%;
  z-index: 1;
  background: -moz-linear-gradient(top, #fff 0%, rgba(255, 255, 255, 0.7) 40%, transparent 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fff), color-stop(40%, rgba(255, 255, 255, 0.7)), color-stop(100%, transparent));
  background: -webkit-linear-gradient(top, #fff 0%, rgba(255, 255, 255, 0.7) 40%, transparent 100%);
  background: -ms-linear-gradient(top, #fff 0%, rgba(255, 255, 255, 0.7) 40%, transparent 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff', endColorstr='transparent',GradientType=0 );
  background: linear-gradient(top, #fff 0%, rgba(255, 255, 255, 0.7) 40%, transparent 100%); }

.s12__bg-cover {
  display: none; }

@media screen and (max-height: 1024px) {
  label {
    font-size: 1.4rem; }

  p {
    font-size: 1.2rem; }

  .m-display {
    display: block; }

  .m-hidden {
    display: none; }

  .title__1 {
    font-size: 3.6rem; }
  .title__2 {
    font-size: 2.6rem; }
  .title__3 {
    font-size: 2.0rem; }
  .title__4 {
    font-size: 1.4rem; }

  .s0__bg-points {
    background-size: 100% auto;
    background-position: center top; }
  .s0__content {
    text-align: center; }
    .s0__content div,
    .s0__content p {
      margin: auto; }
    .s0__content p {
      text-align: left;
      margin-top: 10px; }
  .s0__dots {
    display: none !important; }
  .s0__benifits li {
    position: relative;
    display: block; }
    .s0__benifits li:after {
      content: "";
      display: block;
      width: 1px;
      height: 50px;
      margin: auto;
      background-color: #fff; }
    .s0__benifits li:last-child:after {
      display: none; }
    .s0__benifits li hr {
      display: none; }
    .s0__benifits li i.outline-dot--s {
      display: block;
      top: auto;
      bottom: 15px;
      left: 50%;
      right: auto;
      margin-left: -10px; }
    .s0__benifits li:first-child .outline-dot--s {
      bottom: 30px; }
    .s0__benifits li.s0__benifit-4 .outline-dot--s {
      bottom: 0; }
    .s0__benifits li div, .s0__benifits li.s0__benifits-1,
    .s0__benifits li .s0__benifit-logo {
      -webkit-transform: none;
      -moz-transform: none;
      -o-transform: none;
      -ms-transform: none;
      transform: none; }
    .s0__benifits li label {
      margin-top: 0;
      margin-bottom: 5px;
      font-size: 1.2rem; }
    .s0__benifits li span {
      font-size: 1.1rem; }
    .s0__benifits li .s0__benifit-logo {
      margin: 5px 0; }
  .s0__title {
    width: 40%; }
  .s0__nomiddleman, .s0__data, .s0__organize, .s0__benifit-logo {
    width: 55px; }

  .s1__container {
    position: absolute;
    top: auto;
    bottom: 18%; }
  .s1__content {
    position: static;
    max-width: 375px; }
  .s1__people {
    max-width: 160px; }
  .s1__link {
    max-width: 30px; }

  .s2__bg {
    display: none; }

  .s4__content {
    max-width: 500px; }
  .s4__bg-m {
    position: absolute;
    top: 15%;
    width: 95%;
    padding-top: 220%;
    background-image: url(../images/bg-3-4-5.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    z-index: 1; }

  .s5__content {
    top: -12%;
    max-width: 500px; }
    .s5__content .col-4,
    .s5__content .col-8 {
      text-align: center;
      position: static;
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      padding-left: 15px;
      padding-right: 15px;
      margin: auto; }
    .s5__content .col-4 p {
      max-width: 250px;
      margin: auto; }
    .s5__content .col-8 {
      position: absolute;
      top: 100%;
      left: 50%;
      padding: 0;
      margin-top: 50px;
      margin-left: 0;
      max-width: 500px;
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      -o-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%); }

  .s8__top-offset-1 {
    margin-top: 40%; }

  .s7__content {
    margin-top: 20%; }
    .s7__content .title__4 {
      margin: 10px auto;
      max-width: 150px; }
  .s7__avatar {
    width: 110px; }

  .s6__content,
  .s11__form,
  .s12__content {
    max-width: 500px; } }
@media screen and (max-height: 950px) {
  .s0__lang {
    padding: 0;
    right: 5%; }
  .s0__logo {
    margin: 5px 0;
    width: 35px; }
  .s0__title {
    width: 50%; }
  .s0__content {
    top: 4%;
    padding: 0 15px; }
    .s0__content p,
    .s0__content p ~ p {
      width: 75%;
      margin-top: 0; }
    .s0__content li i.outline-dot--s {
      width: 16px;
      height: 16px;
      margin-left: -8px; }
    .s0__content li:first-child .outline-dot--s {
      bottom: 34px; }
    .s0__content .social {
      margin: 10px 0; }
    .s0__content .outline-dot--s:before {
      margin: 3px;
      width: 8px;
      height: 8px; }
  .s0__web-link {
    padding: 3px 10px; }
  .s0__web-link span {
    font-size: 1.1rem; }
  .s0__nomiddleman, .s0__data, .s0__organize, .s0__benifit-logo {
    width: 40px; }

  .s1__bg-image, .s1__bg-points {
    height: 45%; }
  .s1__people {
    max-width: 120px; }
  .s1__container {
    bottom: 9%; }

  .s2__bg-image {
    left: 0;
    width: 70%;
    -webkit-transform: none;
    -moz-transform: none;
    -o-transform: none;
    -ms-transform: none;
    transform: none; }
  .s2__content {
    padding: 0 15px;
    z-index: 1; }
    .s2__content .title__2 {
      left: auto;
      right: 0;
      margin-top: 0;
      float: right; }
    .s2__content label {
      margin-right: 20px; }

  .s3__bg-image {
    left: 60%;
    width: 40%; }
  .s3__text {
    top: -40%;
    padding-left: 15px;
    left: 0;
    width: 74%; }
    .s3__text p {
      text-align: left; }

  .s4__content img {
    width: 150%;
    margin-left: -50%; }

  .s6__content {
    padding-left: 15px;
    padding-right: 15px; }
    .s6__content h4 {
      font-size: 1.6rem; }
    .s6__content .col-6:not(.s6__path) {
      padding-left: 30px;
      padding-right: 30px; }
    .s6__content .col-4 {
      padding: 0 5px;
      -ms-flex: 0 0 50%;
      flex: 0 0 50%;
      max-width: 50%; }
    .s6__content .offset-2 {
      margin-left: 0; }

  .s7__content {
    margin-top: 20%; }
    .s7__content .col-4 {
      margin-bottom: 20px; }
  .s7__avatar {
    width: 90px; }

  .s8__bg-points ~ .top-title.title__2 {
    top: 80px; }
  .s8__content {
    top: 5%; }
    .s8__content ul {
      margin: 0; }
    .s8__content li {
      margin-bottom: 10px; }
    .s8__content .row {
      margin: auto; }
    .s8__content > .row {
      margin-top: 7%; }
    .s8__content .col-4 {
      -ms-flex: 0 0 70%;
      flex: 0 0 70%;
      max-width: 70%;
      margin: auto; }
  .s8__content:before {
    padding-top: 160%;
    background-image: url(../images/9-banner-m.png);
    background-position: center center;
    background-size: 100% 100%; }
  .s8__top-offset-1 {
    margin-top: 0%; }

  .s10__content {
    padding: 0 15px; }
  .s10__form-group button {
    width: 90px; }

  .s11__bg {
    padding-top: 240%; }

  .s11__form,
  .s12__content {
    padding-left: 15px;
    padding-right: 15px; }

  .s12__content .col-4 {
    -ms-flex: 0 0 65%;
    flex: 0 0 65%;
    max-width: 65%;
    margin: auto; }
  .s12__content .col-5 {
    -ms-flex: 0 0 60%;
    flex: 0 0 60%;
    max-width: 60%; }
  .s12__content > .row > .col-3 {
    -ms-flex: 0 0 40%;
    flex: 0 0 40%;
    max-width: 40%; }
  .s12__content .s12__contactus {
    left: 0;
    width: 97%; }
  .s12__content .s12__logo {
    width: 70%; }

  .s13__title, .s13__text {
    max-width: 90%; }
  .s13__list li {
    margin: 0 4px; }
  .s13__list img {
    height: 18px; } }
@media screen and (max-height: 800px) {
  .title__2.top-title {
    top: 90px; }

  .s0__content {
    top: 6%; }
    .s0__content li i.outline-dot--s {
      bottom: 8px; }
    .s0__content li:first-child .outline-dot--s {
      bottom: 20px; }
  .s0__benifits {
    padding: 0; }
  .s0__benifits li:after {
    height: 35px; }

  .s1__bg-image, .s1__bg-points {
    height: 40%; }
  .s1__container {
    bottom: 4%; }

  .s6__content {
    margin-top: 50px; }

  .s8__content li {
    margin-bottom: 5px; }
  .s8__content .col-4 {
    -ms-flex: 0 0 65%;
    flex: 0 0 65%;
    max-width: 65%; }
  .s8__content:before {
    padding-top: 130%; } }
@media screen and (max-height: 700px) {
  #fp-nav {
    display: none; }

  .s0__content {
    top: 3.5%; }
    .s0__content .title__4 {
      max-width: 60px; }
    .s0__content p,
    .s0__content p ~ p {
      width: 100%;
      line-height: 1.4em; }
    .s0__content .social a {
      width: 20px;
      height: 20px; }
  .s0__nomiddleman, .s0__data, .s0__organize, .s0__benifit-logo {
    width: 35px; }

  .s1__content {
    padding: 0; }
    .s1__content .title__3 {
      margin-bottom: 0; }

  .s7__bg-points ~ .top-title.title__2 {
    top: 20px; }
  .s7__content {
    margin-top: 30%; }
  .s7__content .title__4 {
    max-width: 120px; }
  .s7__avatar {
    max-width: 70px; } }
@media screen and (max-height: 630px) {
  .top-dot__container {
    display: none; }

  .title__2.top-title {
    top: 20px; }

  .s0__title {
    width: 40%; }
  .s0__content {
    top: 5.5%; }
    .s0__content li i.outline-dot--s,
    .s0__content li:first-child .outline-dot--s {
      bottom: 5px; }
  .s0__benifits li:after {
    height: 20px; }
  .s0__benifits li label {
    font-size: 1.1rem; }
  .s0__benifits li span {
    font-size: 1rem; }

  .s1__bg-image, .s1__bg-points {
    height: 50%; }
  .s1__container {
    padding: 0 15px; }
  .s1__link {
    margin-top: 0; } }
@media screen and (max-height: 600px) {
  p {
    font-size: 1.1rem; }

  .title__2 {
    font-size: 2.0rem; }
  .title__3 {
    font-size: 1.6rem; }

  .s5__content .col-8 {
    margin-top: 25px; }

  .s6__content {
    top: 0;
    margin-top: 0; }

  .s7__content {
    margin-top: 10%; }
    .s7__content .col-4 {
      margin-bottom: 5px; }

  .s8__bg-points ~ .top-title.title__2 {
    top: 20px; }

  .s13__list img {
    height: 15px; } }
@media screen and (max-width: 767px) {
  .s9 {
    display: none; }

  .road-map-m {
    display: block;
    width: 95%;
    margin: auto; } }

/*# sourceMappingURL=mobile.css.map */
