@media (max-width:1200px) {
	.story-product__container:after {
		max-width: 799px
	}
	.organization .container {
		padding-bottom: 20px
	}
	.contact-us__card {
		margin-left: 30%;
		width: 70%
	}
	.footer__follow {
		padding-left: 3%
	}
}

@media (max-width:1024px) {
	.header__title {
		font-size: 60px
	}
	.header__social-icons:after,
	.header__social-icons:before {
		width: 70px
	}
	.platform h6, .organization h6, .machine h6, .communication h6{
		font-size: 1.8rem;
	}
}

@media (max-width:960px) and (min-width:768px) {
	.advantage__list label {
		margin: auto;
		max-width: 100px
	}
	.advantage__list span {
		display: block;
		margin: auto;
		max-width: 80px
	}
	.advantage__list br {
		font-size: 0
	}
	.advantage__item {
		padding-left: 5px
	}
	.advantage__item:first-child {
		padding-right: 20px
	}
	.advantage__icon {
		height: 38px
	}
	.advantage__icon:after,
	.advantage__icon:before {
		transform: translateY(19px);
		-webkit-transform: translateY(19px);
		-moz-transform: translateY(19px);
		-ms-transform: translateY(19px)
	}
	.advantage__icon:after {
		right: 5px
	}
	.advantage__logo .advantage__icon {
		height: 70px
	}
}

@media (max-width:960px) {
	.header__logo {
		margin: 14px;
		max-height: 50px
	}
	.story-product__container:after {
		max-width: 639px
	}
	.organization .container {
		padding-bottom: 0
	}
	.contact-us {
		background-size: 100% auto
	}
	.contact-us:before {
		padding-top: 5%
	}
	.contact-us__card {
		margin-left: 10%;
		width: 90%
	}
	.footer__info-img {
		margin-top: 40px
	}
	.footer__contact {
		padding-right: 3%
	}
	.footer__follow {
		padding-left: 0
	}
}

@media (max-width:767px) {
	.contact-us__card h6{
		font-size: 1.2rem;
	}
	.lorem-ipsum__video,
	.lorem-ipsum__text {
		width: 100%;
		padding: 0 10px;
	}
	.lorem-ipsum__text {
		text-align: center;
	}
	.advantage__item:first-child .advantage__icon:after,
	.header__social-icons:after,
	.header__social-icons:before {
		content: none
	}
	.blog .sub-container,
	.services .sub-container {
		border: 0
	}
	header .language {
		top: 3%;
	}
	.header__title {
		font-size: 40px;
		margin-top: 15%;
	}
	.header__social {
		margin: 0 1px
	}
	.platform h6, .organization h6, .machine h6, .communication h6{
		font-size: 1.2rem;
	}
	.intro h6,
	.intro__Investors-container h6, .intro__partner-container h6, .road-map h6{
		font-size: 2rem;
	}
	.advantage {
		padding: 20px 0
	}
	.advantage__item,
	.advantage__item:first-child,
	.advantage__logo .advantage__icon {
		display: block;
		padding: 0
	}
	.contact-us__contacter,
	.footer__info-img {
		display: none
	}
	.advantage__item:first-child .advantage__icon {
		margin-bottom: 0
	}
	.advantage__icon:after,
	.advantage__icon:before,
	.advantage__logo .advantage__icon img {
		transform: translateY(0);
		-webkit-transform: translateY(0);
		-moz-transform: translateY(0);
		-ms-transform: translateY(0)
	}
	.advantage__item~.advantage__item {
		padding-top: 50px
	}
	.advantage__icon:before,
	.advantage__item:first-child .advantage__icon:before,
	.advantage__logo .advantage__icon:before {
		left: 50%;
		top: 0;
		width: 1px;
		height: 30px
	}
	.advantage__icon:after,
	.advantage__item:first-child .advantage__icon:after,
	.advantage__logo .advantage__icon:after {
		top: 30px;
		left: 50%;
		margin-left: -5px
	}
	.advantage__item:first-child .advantage__icon:before {
		top: auto;
		bottom: -60px
	}
	.advantage__logo .advantage__icon {
		margin-top: 10px
	}
	.advantage__logo .advantage__icon:after {
		margin-left: -8px
	}
	.story .col-3,
	.story .col-7 {
		width: 100%
	}
	.story .col-3:before {
		padding-top: 20px
	}
	.story .story-product__description {
		padding-left: 10%;
		width: 90%
	}
	.story__article {
		padding: 0 0 30px
	}
	.story__subtitle {
		padding: 20px 0
	}
	.product .story-product__description {
		padding: 5px 0
	}
	.product__title {
		margin-right: 0
	}
	.product__title h6{
		font-size: 2.4rem;
	}
	.product__subtitle h6{
		font-size: 1.4rem;
	}
	.product__title-img {
		width:30%
	}
	.product__article {
		padding: 30px 0 0 30px
	}
	.product__subtitle {
		padding: 0 0 20px
	}
	.product__subtitle-img {
		width: 80%
	}
	.lock-design li {
		margin: 0;
		width: 20%
	}
	.lock-design li.lock-design__avatar {
		margin: 0;
		padding: 0 2px;
		width: 16%
	}
	.lock-design li.lock-design__avatar:after {
		font-size: 12px
	}
	.lock-design:before {
		width: 15%
	}
	.lock-design .container {
		padding: 20px 30px
	}
	.lock-design__intro {
		padding: 10px 0 24px
	}
	.lock-design li.lock-design__locker {
		margin: 0 -10px
	}
	.lock-design li.lock-design__process {
		margin-left: 10px
	}
	li.lock-design__process~.lock-design__process {
		margin-left: 0;
		margin-right: 10px
	}
	.platform__bg {
		padding: 94px 0 50px;
		margin-left: -8%
	}
	.platform .col-6 {
		padding-top: 25%;
		padding-bottom: 0
	}
	.platform__intro {
		top: 20px;
		left: 0;
		right: 0;
		padding: 0 10px
	}
	.platform__title {
		width: 90%
	}
	.blog .col-5,
	.communication__title-img {
		width: 100%
	}
	.platform__subtitle {
		padding: 0
	}
	.platform__description {
		margin: 10px 0 30px
	}
	.communication .container,
	.machine .container,
	.organization .container {
		background-size: 80% auto;
		margin-right: -10px;
		padding-right: 10px
	}
	.communication .col-5,
	.communication .col-5:first-child,
	.machine .col-5,
	.machine .col-5:first-child,
	.organization .col-5,
	.organization .col-5:first-child {
		position: static;
		width: 100%
	}
	.machine .col-5 {
		padding: 20px 0 10px 10%
	}
	.machine .col-5~.col-5 {
		position: static;
		padding-top: 40%;
		background-position: center
	}
	.communication .col-5~.col-5 {
		padding: 20px 0 10px 10%;
		margin-left: 0
	}
	.communication__pic.col-5:first-child {
		background-size: 80% auto;
		padding-top: 40%
	}
	.communication__bg {
		padding-top: 15%;
		transform: translateX(10px);
		-webkit-transform: translateX(10px);
		-moz-transform: translateX(10px);
		-ms-transform: translateX(10px)
	}
	.lorem-ipsum__title {
		margin-top: 30px
	}
	.lorem-ipsum__hint {
		margin: 20px 0;
		font-size: 12px;
		width: 100%;
	}
	.blog {
		margin-top: 30px;
		margin-bottom: 30px
	}
	.blog .sub-container,
	.blog__detail {
		transform: none;
		-webkit-transform: none;
		-moz-transform: none;
		-ms-transform: none
	}
	.blog__detail {
		padding: 10px 20px
	}
	.blog__title {
		margin: 10px 0
	}
	.blog__subtitle {
		margin: 10px 0 20px
	}
	.blog__content {
		padding: 20px 0
	}
	.blog__article,
	.blog__img {
		margin-bottom: 60px
	}
	.blog__article-title {
		margin: 20px auto
	}
	.blog__next-btn,
	.blog__prev-btn {
		width: 36px;
		height: 36px
	}
	.blog__prev-btn {
		left: -10px
	}
	.blog__next-btn {
		right: -10px
	}
	.services h4 {
		font-size: 16px;
		margin: 5px 0 5%;
	}
	.services .services__detail,
	.services .sub-container {
		transform: none;
		-webkit-transform: none;
		-moz-transform: none;
		-ms-transform: none
	}
	.services .col-3 {
		margin: 0 5%;
		width: 40%
	}
	.services .col-3 span {
		word-wrap: break-word
	}
	.services h3{
		margin-bottom: 3%;
	}
	.services__title {
		margin-bottom: 14px;
		font-size: 18px
	}
	.services__type-line {
		display: none;
		margin-top: 10px;
		width: 50%
	}
	.services__roles .Left{
		width:100%;
	}
	.services__roles .Right{
		width:100%;
	}
	.services__roles {
		width: 100%
	}
	.intro {
		margin: 20px 0
	}
	.intro .container:before {
		top: 5%
	}
	.intro .container:after {
		top: 6%
	}
	.intro__team-wrapper {
		padding: 5px 0
	}
	.intro__team-item {
		width: 50%;
		height: 200px;
	}
	.intro__divider {
		width: 80%;
		padding-top: 12%;
		margin-left: 20%;
		margin-right: -10px
	}
	.intro__partner-container {
		padding: 30px 0
	}
	.intro__partner-title {
		margin-bottom: 20px;
		width: 36%
	}
	.intro__partners {
		width: 80%
	}
	.intro__Investors-container .intro__partner:first-child {
		margin: 0;
	}
	.intro__partner {
		width: 50%
	}
	.intro__partner:first-child img {
		padding: 0
	}
	.subscribe {
		background-size: auto 100%
	}
	.subscribe__title {
		margin: 10px 0
	}
	.news {
		padding-top: 30px;
		padding-bottom: 30px;
		background-repeat: no-repeat;
		background-size: 100% auto;
		background-position: center
	}
	.Investment img{
		width: 100%;
		height: auto;
	}
	.Partnership img{
		width: 80%;
	}
	.intro__partner{
		float: left;
	}
	.news__content {
		width: 60%
	}
	.news__title {
		margin: 2% auto;
		width: 65%
	}
	.news__channels {
		width: 84%
	}
	.news__channel {
		padding: 0 5px
	}
	.contact-us {
		padding: 30px 0
	}
	.contact-us .col-5 {
		padding-top: 10px;
		width: 100%
	}
	.contact-us__card {
		padding: 30px 20px;
		margin: 0 2%;
		width: 96%
	}
	.contact-us__submit {
		margin-top: 20px
	}
	.contact-us__contacter-info.col-5 {
		padding-top: 20px;
		padding-left: 0
	}
	.footer h3 {
		margin: 5px 0
	}
	.footer .header__social-icons {
		text-align: left
	}
	.footer .header__social-icons li {
		text-align: center
	}
	.footer__info {
		padding-bottom: 10px
	}
	.footer__contact,
	.footer__follow {
		width: 100%
	}
	.footer__copyright {
		text-align: right;
		margin: 14px 0
	}
	.footer__copyright-title {
		max-width: 50%
	}
	.footer__copyright-logo {
		margin: 0 5px;
		max-height: 40px
	}
	.footer__copyright h6{
		font-size: 3rem;
	}
}