body,
button,
ul {
	margin: 0
}

.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7 {
	float: left
}

@font-face { 
  font-family: RobotoBold; 
  src: url('../fonts/Roboto-Bold.ttf'); 
} 
@font-face { 
  font-family: RobotoRegular; 
  src: url('../fonts/Roboto-Regular.ttf'); 
} 

* {
	font-family: RobotoRegular;
	box-sizing: border-box;
	font-size: 16px
}

body {
	padding-bottom: 70px
}

ul {
	list-style: none;
	padding-left: 0
}

button {
	padding: 0
}

h2 {
	font-size: 24px
}

h3 {
	font-family: RobotoBold; 
	font-weight: bold;
	font-size: 20px
}

body h6{
	display: inline-block;
	font-family: RobotoBold; 
	font-weight: bold;
	margin: 0;
	background: linear-gradient(to right, #fd366d, #361d43);
    -webkit-background-clip: text;
    color: transparent;
}

p {
	line-height: 1.4em
}

label {
	font-size: 14px
}

span {
	font-size: 12px
}

a {
	text-decoration: none;
	color: inherit
}

.text-center {
	text-align: center
}

.text-right {
	text-align: right
}

.align-middle {
	vertical-align: middle
}

.align-top {
	vertical-align: top
}

.col-2 {
	width: 20%
}

.col-3 {
	width: 30%
}

.col-4 {
	width: 40%
}

.col-5 {
	width: 50%
}

.col-6 {
	width: 60%
}

.col-7 {
	width: 70%
}

.container {
	max-width: 1000px;
	margin: auto
}

.sub-container {
	max-width: 900px;
	margin: auto
}

.road-map {
	padding: 70px 10px
}

.road-map__title {
	width: 25%;
	margin-bottom: 70px
}

.road-map__content {
	width: 100%;
	padding-top: 80%;
	background-image: url(../img/road-map.png);
	background-repeat: no-repeat;
	background-size: 100% auto;
	background-position: center center
}

.loading {
	text-align: center;
	position: fixed;
	width: 100%;
	height: 100%;
	background: #151b4e;
	z-index: 200
}

.loading.hidden {
	display: none!important
}

.spinner {
	width: 40px;
	height: 40px;
	position: relative;
	top: 50%;
	margin: 20px auto;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%)
}

.double-bounce1,
.double-bounce2 {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background-color: #f5426c;
	opacity: .6;
	position: absolute;
	top: 0;
	left: 0;
	-webkit-animation: sk-bounce 2s infinite ease-in-out;
	animation: sk-bounce 2s infinite ease-in-out
}

.double-bounce2 {
	-webkit-animation-delay: -1s;
	animation-delay: -1s
}

.qrcode-modal-img {
	width: 100%
}

@-webkit-keyframes sk-bounce {
	0%,
	100% {
		-webkit-transform: scale(0)
	}
	50% {
		-webkit-transform: scale(1)
	}
}

@keyframes sk-bounce {
	0%,
	100% {
		transform: scale(0);
		-webkit-transform: scale(0)
	}
	50% {
		transform: scale(1);
		-webkit-transform: scale(1)
	}
}

@media (max-width:1200px) {
	.container {
		max-width: 800px
	}
	.sub-container {
		max-width: 720px
	}
}

@media (max-width:1024px) {
	h2 {
		font-size: 20px
	}
	h3 {
		font-size: 14px
	}
	label {
		font-size: 12px
	}
	span {
		font-size: 11px
	}
}

@media (max-width:960px) {
	p {
		font-size: 12px
	}
	.container {
		max-width: 640px
	}
	.sub-container {
		max-width: 600px
	}
}

@media (max-width:767px) {
	.road-map {
		padding-top: 20px;
		padding-bottom: 20px
	}
	.road-map__title {
		margin: 14px 0;
		width: 36%
	}
	.road-map__content {
		padding-top: 285%;
		background-image: url(../img/road-map-mobile.png)
	}
}

.header {
	position: relative;
	padding-top: 50%;
	min-height: 500px;
	background-color: #2e246d;
	color: #fff;
	background-image: url(../img/homepage_bg.jpg);
	background-repeat: no-repeat;
	background-size: cover
}

.header__content {
	position: absolute;
	left: 0;
	right: 0;
	top: 50%;
	padding: 0 10px;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%)
}

.header__logo {
	position: absolute;
	top: 0;
	left: 0;
	margin: 24px;
	max-height: 70px;
	width: 80px;
}

.header__title {
	margin: 0 0 .5em;
	line-height: 1em;
	font-size: 100px;
	font-family: RobotoBold; 
	font-weight:bold;
}

.header__social-icons {
	padding: 1em 0;
	color: #5f3082
}

.header__social-icons:after,
.header__social-icons:before {
	content: "";
	vertical-align: middle;
	display: inline-block;
	height: 1px;
	width: 150px;
	background-color: #fff
}

.header__social-icons .iconfont {
	font-size: 16px;
	line-height: 26px
}

.header__social {
	display: inline-block;
	margin: 0 3px
}

.header__social a {
	display: inline-block;
	width: 26px;
	height: 26px;
	background-color: #fff;
	border-radius: 50%
}

.header__description {
	font-weight: 300;
	line-height: 1.9;
}

.header__description a {
	text-decoration: underline
}

.header__demo-button {
	margin: 20px 0;
	font-size: 0;
}
.header__demo-button-text {
	display: inline-block;
	padding: 0 15px 0 0;
	margin-left: -1px;
	border: 2px solid #fff;
	height: 30px;
	line-height: 26px;
	font-weight: 200
}
.header__demo-button-text b{
	font-size: 20px;
	display: inline-block;
	height: 100%;
	background: #fff;
	color: #452b82;
	padding: 0 15px;
	float: left;
	margin-right: 15px;
	font-family: RobotoBold; 
	font-weight: bold;
}
.advantage {
	padding: 45px 10px 30px;
	color: #555;
	background: #f7f7f7
}

.advantage__list {
	font-size: 0
}

.advantage__list img {
	position: relative;
	height: inherit;
	z-index: 1
}

.advantage__list label {
	display: block;
	font-family: RobotoBold; 
	font-weight: bold;
}

.advantage__list span {
	font-weight: 300
}

.advantage__item {
	position: relative;
	display: inline-block;
	padding: 0 15px 0 0;
	min-width: 150px;
}

.advantage__item:first-child {
	padding-right: 30px
}

.advantage__item:first-child .advantage__icon:before {
	width: 30%;
	left: auto;
	right: 0
}

.advantage__item:first-child .advantage__icon:after {
	right: -15px
}

.advantage__icon {
	display: block;
	margin-bottom: 14px;
	height: 48px
}

.advantage__icon:after,
.advantage__icon:before {
	content: "";
	position: absolute;
	left: 0;
	display: inline-block;
	height: 2px;
	width: 100%;
	background-color: #555;
	transform: translateY(24px);
	-webkit-transform: translateY(24px);
	-moz-transform: translateY(24px);
	-ms-transform: translateY(24px)
}

.advantage__icon:after {
	top: -4px;
	left: auto;
	right: 15px;
	height: 10px;
	width: 10px;
	border-radius: 50%
}

.advantage__logo {
	padding-right: 0
}

.advantage__logo .advantage__icon {
	padding-left: 40px;
	height: 80px
}

.advantage__logo .advantage__icon img {
	transform: translateY(-10%);
	-webkit-transform: translateY(-10%);
	-moz-transform: translateY(-10%);
	-ms-transform: translateY(-10%)
}

.advantage__logo .advantage__icon:before {
	width: 10%
}

.advantage__logo .advantage__icon:after {
	top: -7px;
	left: 4%;
	right: auto;
	height: 8px;
	width: 8px;
	border: 4px solid #151b4e;
	background-color: #f5426c
}

.lock-design:before,
.story:before {
	left: -10px;
	content: ""
}

.story-product__container {
	padding: 0 10px;
	background-repeat: no-repeat;
	background-size: 100% auto;
	background-position: center center
}

.story-product__container:after {
	content: "";
	display: block;
	margin: -20px auto 0;
	border-left: 1px solid #151b4e;
	max-width: 999px;
	height: 20px
}

.story-product__description {
	padding: 14px 0;
	margin: auto;
	font-size: 12px;
	color: #827d77;
	opacity: .8
}

.story {
	position: relative;
	padding: 0 10px
}

.story:before {
	position: absolute;
	bottom: 0;
	width: 50%;
	height: 1px;
	background-color: #f5426c
}

.story .col-3:before {
	content: "";
	display: block;
	padding-top: 56%
}

.story .story-product__description {
	width: 60%
}

.story__content {
	border-bottom: 1px solid #f5426c
}

.story__content:after {
	content: "";
	display: block;
	clear: both
}

.story__avatar {
	position: relative;
	width: 70%;
	background: #fff;
	display: inline-block
}

.story__article {
	padding: 50px 0 100px;
	border-right: 1px solid #f5426c
}

.story__title {
	font-size: 0
}

.story__title-img {
	display: inline-block;
	padding-left: 15%;
	width: 100%
}

.story__subtitle {
	text-align: center;
	padding: 40px 0;
	margin: 0;
	color: #f5426c
}

.product {
	-webkit-transform: translateY(-20px);
	-moz-transform: translateY(-20px);
	transform: translateY(-20px)
}

.product__title {
	text-align: right;
	margin-right: -40px;
	border-width: 1px 0 0 1px;
	border-style: solid;
	border-color: #151b4e
}
.product__title h6{
	display: inline-block;
	font-size: 5rem;
	font-family: RobotoBold; 
	font-weight: bold;
	margin: 0;
}
.lock-design .container,
.platform .container,
.product__article {
	border-left: 1px solid #151b4e
}

.product__title-img {
	width: 30%;
	display: inline-block
}

.product__subtitle {
	padding: 50px 0
}

.product__subtitle h6{
	font-size: 2rem;
	margin: 0;
}

.product__article {
	padding: 40px
}

.lock-design {
	position: relative;
	padding: 0 10px;
	max-width: 100%;
	overflow-x: hidden
}

.lock-design:before {
	position: absolute;
	top: 0;
	display: block;
	width: 50%;
	height: 100%;
	background-color: #f7f7f7
}

.lock-design li {
	text-align: center;
	display: inline-block;
	width: 15%;
	background-repeat: no-repeat;
	background-size: 100% auto;
	background-position: center
}

.lock-design li:before {
	content: "";
	display: block;
	width: 100%
}

.lock-design .container {
	position: relative;
	padding: 40px 45px;
	background-color: #f7f7f7;
	border-radius: 0 24px 24px 0;
	z-index: 1
}

.lock-design__title {
	margin: 0;
	color: #555;
	font-weight: 500
}

.lock-design__intro {
	text-align: right;
	padding: 50px 10px
}

.lock-design li.lock-design__avatar {
	margin: 0 20px;
	width: 12%;
	background-image: url(../img/lock-design-avatar.png)
}

.lock-design li.lock-design__avatar:before {
	padding-top: 104%
}

.lock-design li.lock-design__avatar:after {
	display: block;
	color: #555;
	transform: translateY(100%);
	-webkit-transform: translateY(100%);
	-moz-transform: translateY(100%);
	-ms-transform: translateY(100%)
}

.blog__content:after,
.blog__feedback+.blog__feedback:before,
.communication__detail:after,
.contact-us:before,
.contact-us__card:after,
.intro .container:after,
.intro .container:before,
.intro__partners:after,
.lock-design__intro~.lock-design__intro .lock-design__locker:after,
.machine .container:after,
.news .container:before,
.organization .container:after,
.platform .col-4:before,
.platform .container:after,
.sub-container .services__detail:before {
	content: ""
}

.lock-design__process {
	background-image: url(../img/lock-design-process1.png)
}

.lock-design__process:before {
	padding-top: 100%
}

.lock-design__process~.lock-design__process {
	background-image: url(../img/lock-design-process2.png)
}

.lock-design__locker {
	position: relative;
	background-image: url(../img/lock-design-locker.png)
}

.lock-design__locker:before {
	padding-top: 120%
}

.platform{
	position: relative;
	padding: 0 10px
}
.platform h6,
.organization h6,
.machine h6,
.communication h6{
	font-family: RobotoBold; 
	font-weight: bold;
	font-size: 2rem;
}
.platform .container:after {
	display: block;
	clear: both
}

.platform__intro {
	position: absolute;
	top: 50px;
	left: 0;
	right: 0;
	background: #f7f7f7
}

.platform__intro h3 {
	padding: 10px 45px;
	margin: 0
}

.platform .col-4 {
	position: relative
}

.platform .col-4:before {
	position: absolute;
	left: -1px;
	display: block;
	width: 1px;
	height: 100%;
	background-color: #151b4e
}

.platform .col-6 {
	position: relative;
	padding-top: 28%;
	padding-bottom: 50px;
	z-index: 1
}

.platform__bg {
	padding: 150px 0 100px;
	margin-left: -15%;
	width: 120%
}

.platform__title {
	padding: 10px 0;
	width: 60%
}

.blog__img,
.organization__title {
	width: 100%
}

.platform__subtitle {
	padding: 14px 0;
	margin: 0;
	color: #555
}

.platform__description {
	margin: 30px 0;
	color: #827d77;
	opacity: .8
}

.organization {
	padding: 0 10px
}

.organization .container {
	padding-bottom: 80px;
	background-image: url(../img/organization-bg.png);
	background-repeat: no-repeat;
	background-size: auto 70%;
	background-position: right center
}

.organization .container:after {
	display: block;
	clear: both
}

.organization__detail {
	padding-left: 10%
}

.organization__subtitle {
	padding: 14px 0;
	color: #555
}

.organization__description {
	color: #827d77;
	opacity: .8
}

.lorem-ipsum {
	position: relative;
	padding: 0 10px
}

.lorem-ipsum iframe {
	position: absolute;
	left: 0;
	top: 0
}

.lorem-ipsum__title {
	color: #555
}

.lorem-ipsum__hint {
	width: 80%;
	line-height: 1.9em;
	color: #827d77;
	opacity: .8
}

.lorem-ipsum__video {
	position: relative;
	width: 50%;
	float: left;
}

.blog {
	padding: 0 10px;
	margin-top: 70px;
	margin-bottom: 70px
}

.blog .sub-container {
	border: 1px solid #151b4e;
	transform: translate(15px, -15px);
	-webkit-transform: translate(15px, -15px);
	-moz-transform: translate(15px, -15px);
	-ms-transform: translate(15px, -15px)
}

.blog__detail {
	position: relative;
	padding: 30px 50px;
	border: 1px solid #f5426c;
	background-color: #fff;
	transform: translate(-15px, 15px);
	-webkit-transform: translate(-15px, 15px);
	-moz-transform: translate(-15px, 15px);
	-ms-transform: translate(-15px, 15px)
}

.blog__title {
	margin: 20px 0;
	color: #555
}

.blog__subtitle {
	display: block;
	margin: 20px 0 40px;
	font-weight: 300
}

.blog__content {
	position: relative;
	padding: 50px 0;
	border-width: 1px 0;
	border-style: solid;
	border-color: #827d77
}

.blog__content:after {
	display: block;
	clear: both;
	bottom: 0
}

.blog__img {
	display: block;
	height: auto;
	min-height: 1px;
	background: #f7f7f7;
	margin-left: 5%;
	width: 90%;
}

.blog__feedback,
.blog__social,
.blog__social a,
.blog__social-icons {
	display: inline-block
}

.blog__next-btn,
.blog__prev-btn,
.intro__divider,
.intro__team-item-img,
.services__type-line,
.subscribe,
.subscribe__logo {
	background-repeat: no-repeat
}

.blog__tag {
	padding: 3px 20px;
	line-height: 1em;
	color: #fff;
	background-color: #f5426c;
	font-weight: 300;
	font-style: normal
}

.blog__article-title {
	font-family: RobotoBold; 
	font-weight: bold;
	margin: 30px auto;
	max-width: 200px;
	color: #555
}

.blog__article {
	margin: 0 auto 50px;
	font-size: 16px;
	max-width: 350px;
	color: #827d77;
	font-weight: 300;
	opacity: .8
}

.blog__view-more-btn {
	color: #f5426c;
	cursor: pointer;
	font-size: 12px
}

.blog__feedback {
	color: #555
}

.blog__feedback+.blog__feedback:before {
	vertical-align: middle;
	display: inline-block;
	margin: 0 5px;
	width: 1px;
	height: 10px;
	background-color: #555
}

.blog__message-icon,
.blog__share-icon,
.blog__watch-icon {
	max-height: 12px
}

.blog__social-container {
	padding: 30px 0;
	color: #555
}

.blog__social-container label {
	font-size: 12px
}

.blog__social {
	margin: 0 3px;
	color: #fff
}

.blog__social a {
	width: 20px;
	height: 20px;
	background-color: #555;
	border-radius: 50%
}

.blog__social .iconfont {
	font-size: 12px;
	line-height: 20px
}

.blog__next-btn,
.blog__prev-btn {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: 50px;
	height: 50px;
	background-size: 100% 100%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%)
}

.blog__prev-btn {
	left: -25px;
	background-image: url(../img/Blog/blog-prev.png)
}

.blog__next-btn {
	right: -25px;
	background-image: url(../img/Blog/blog-next.png)
}

.services {
	padding: 0 10px;
	color: #fff
}

.services h3 {
	margin: 0 0 1%;
}

.services h4 {
	font-size: 16px;
	font-weight: 300
}

.services .col-3 {
	margin: 0 10%
}

.services .sub-container {
	border: 1px solid #f5426c;
	background-color: #fff;
	transform: translate(20px, 20px);
	-webkit-transform: translate(20px, 20px);
	-moz-transform: translate(20px, 20px);
	-ms-transform: translate(20px, 20px)
}

.sub-container .services__detail {
	position: relative;
	padding: 10% 0;
	background-color: #151b4e;
	transform: translate(-20px, -20px);
	-webkit-transform: translate(-20px, -20px);
	-moz-transform: translate(-20px, -20px);
	-ms-transform: translate(-20px, -20px)
}

.sub-container .services__detail:before {
	position: absolute;
	left: 0;
	top: 20px;
	padding-top: 12%;
	width: 50%;
	background-image: url(../img/service-pic.png);
	background-repeat: no-repeat;
	background-position: top left;
	background-size: 80% auto;
	transform: translateX(-5%);
	-webkit-transform: translateX(-5%);
	-moz-transform: translateX(-5%);
	-ms-transform: translateX(-5%)
}

.intro__divider,
.intro__team-item-img,
.news .container:before,
.services__type-line,
.subscribe,
.subscribe__logo {
	background-size: 100% auto
}

.sub-container .services__detail:after {
	content: "";
	display: block;
	clear: both
}

.services__title {
	font-family: RobotoBold; 
	font-weight: bold;
	margin: 10px 0 60px;
	font-size: 30px
}

.services__type-line {
	display: block;
	margin: auto;
	width: 40%;
	padding-top: 8%;
	background-image: url(../img/service-line.png);
	background-position: left center
}

.services__roles {
	width: 80%;
	margin: auto
}
.services__roles .Left{
	float: left;
	padding: 0 5%;
}
.services__roles .Right{
	float: right;
	padding: 0 5%;
}
.services__roles span {
	display: block;
	margin: 10px 0 15px;
	min-height: 30px
}

.services__role-effect-icon {
	width: 60%
}

.intro {
	padding: 0 10px;
	margin: 50px 0
}

.intro .container {
	position: relative;
	font-size: 0
}

.intro .container:after,
.intro .container:before {
	position: absolute;
	display: block;
	width: 1px;
	height: 100%
}

.intro__team-item{
		float:left;
}
.intro__team-item a {
	display: inline-block
}

.intro .container:before {
	top: 15%;
	left: 1%;
	background-color: #f5426c
}

.intro .container:after {
	top: 18%;
	right: 1.8%;
	background-color: #151b4e
}

.intro .container~.container:after,
.intro .container~.container:before {
	top: 0
}

.intro__bottom-line {
	position: absolute;
	width: 80%;
	height: 14px
}

.intro__bottom-line.pink {
	bottom: -14px;
	left: 1%;
	border-bottom: 1px solid #f5426c;
	border-left: 1px solid #f5426c
}

.intro__bottom-line.blue {
	bottom: 0;
	right: 1.8%;
	border-bottom: 1px solid #151b4e;
	border-right: 1px solid #151b4e
}

.intro__team-title {
	width: 100%
}

.intro__team-wrapper {
	padding: 70px 0;
	font-size: 0;
	overflow: hidden;
}

.intro__team-item {
	margin-bottom: 30px;
	width: 33.333333%
}

.intro__team-item a~a {
	display: block;
	margin: 15px auto 5px;
	width: 120px
}

.intro__team-item-img {
	display: inline-block;
	width: 100px;
	height: 100px;
	border: 2px solid #f5426c;
	border-radius: 50%;
	margin: 0 auto;
	background-position: 30% 20%;
}

.intro__team-item-name {
	display: block;
	padding: 5px 0;
	width: 100%;
	color: #fff;
	background-color: #f5426c;
	font-style: normal
}

.intro__team-item-title {
	color: #827d77;
	font-weight: 300;
	display: block;
	width: 75%;
	margin: 0 auto;
	height: 35px;
}

.intro__partner-container {
	position: relative;
	padding: 70px 0
}

.intro__partner-title,
.intro__Investors-container img {
	margin-bottom: 50px;
	width: 25%
}
.intro h6,
.intro__Investors-container h6,
.intro__partner-container h6,
.road-map h6{
	font-size: 4rem;
	margin:1% 0 5%;
}
.contact-us__card h6{
	font-size: 4rem;
}

.intro__partners {
	margin: auto;
}

.intro__partners:after {
	display: block;
	clear: both
}

.intro__partner {
	display: inline-block;
	padding: 0 5%;
	margin: 5px 0;
	width: 31%;
	min-height: 100px;
	position: relative;
}

.intro__partner a {
	display: block
}

.Investment img {
	width: auto;
	height: 100px;
}

.Partnership img {
	width:70%;
	height: auto;

}

.intro__partner:first-child img {
	padding: 10px 0
}

.intro__divider {
	width: 50%;
	padding-top: 7%;
	margin-left: 50%;
	background-image: url(../img/team-pic.png);
	background-position: top center
}

.subscribe {
	text-align: center;
	padding: 70px 0;
	background-image: url(../img/email-bg.jpg);
	background-position: center center
}

.subscribe__logo {
	display: block;
	margin: auto;
	width: 50px;
	height: 50px;
	background-image: url(../img/email-icon.png)
}

.subscribe__title {
	margin: 30px 0;
	color: #fff;
	font-family: RobotoBold; 
	font-weight: bold;
}

.subscribe__email {
	position: relative;
	margin: 0 auto;
	max-width: 400px;
	height: 40px;
	font-size: 0
}

.subscribe__email-validate-error {
	position: absolute;
	left: 0;
	top: 44px;
	color: red;
	font-size: 13px
}

.subscribe__input {
	display: inline-block;
	font-size: 14px;
	width: 65%;
	height: 100%;
	color: #555
}

.subscribe__input input {
	padding: 3px 12px;
	width: 100%;
	height: 100%;
	border: 0;
	font-weight: 300
}

.subscribe__btn {
	display: inline-block;
	width: 35%;
	height: 100%
}

.subscribe__btn button {
	margin-left: -2px;
	border: 0;
	font-size: 12px;
	width: 100%;
	height: 100%;
	color: #fff;
	background-color: #151b4e;
	font-family: RobotoBold; 
	font-weight: bold;
}

.news {
	padding: 70px 10px;
	background-image: url(../img/new-bg.png);
	background-position: top left;
	background-repeat: repeat-x
}

.communication__bg,
.contact-us,
.contact-us__icon,
.footer__info-img,
.machine .col-5~.col-5,
.news .container:before {
	background-repeat: no-repeat
}

.news .container {
	position: relative
}

.news .container:before {
	display: block;
	width: 100%;
	padding-top: 55%;
}

.news__detail {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 70%
}

.news__content {
	display: block;
	width: 45%;
	margin: auto
}

.news__title {
	width: 50%;
	margin: 4% auto
}

.news__channels {
	width: 70%;
	margin: auto;
	font-size: 0
}

.news__channel {
	display: inline-block;
	padding: 0 15px;
	width: 25%
}

.news__channel a {
	display: block
}

.news__channel img {
	width: 100%
}

.machine {
	padding: 0 10px
}

.machine .container {
	position: relative
}

.machine .container:after {
	display: block;
	clear: both
}

.machine .col-5 {
	padding: 50px 0 40px 5%
}

.machine .col-5~.col-5 {
	position: absolute;
	left: 50%;
	height: 100%;
	background-image: url(../img/吉祥物-05.gif);
	background-size: 80% auto;
	background-position: right center
}

.machine__title-img {
	width: 50%
}

.machine__subtitle {
	color: #555
}

.machine__description {
	color: #827d77;
	opacity: .8
}

.communication {
	padding: 0 10px
}

.communication__detail {
	position: relative
}

.communication__detail:after {
	display: block;
	clear: both
}

.communication .col-5 {
	padding: 50px 0
}

/*.communication .col-5:first-child {
	position: absolute;
	left: 0;
	height: 100%;
	background-image: url(../img/communication-pic.png);
	background-repeat: no-repeat;
	background-size: 85%;
	background-position: center center
}*/
.communication .col-5:first-child img{
	width: 80%;
	display: block;
	margin: 0 auto;
}

.communication .col-5~.col-5 {
	padding-right: 5%;
	margin-top: 4%;
}

.communication__title-img {
	width: 105%
}

.communication__subtitle {
	color: #555
}

.communication__description {
	color: #827d77;
	opacity: .8
}

.communication__bg {
	width: 100%;
	padding-top: 10%;
	background-image: url(../img/communication-bg.png);
	background-size: auto 100%;
	background-position: right center
}

.contact-us {
	padding: 70px 0;
	background-image: url(../img/contact-us-bg.png);
	background-size: 100% 80%;
	background-position: left top
}

.contact-us input[type=number]::-webkit-inner-spin-button,
.contact-us input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	-moz-appearance: textfield
}

.contact-us .col-5 {
	padding-top: 50px
}

.contact-us:before {
	display: block;
	width: 100%;
	padding-top: 20%
}

.contact-us__card {
	padding: 50px 30px;
	margin-left: 40%;
	width: 60%;
	background-color: rgba(255, 255, 255, .8);
	border-radius: 12px;
	box-shadow: 2px 2px 12px 0 rgba(0, 0, 0, .4)
}

.contact-us__card:after {
	display: block;
	clear: both
}

.contact-us__title {
	width: 50%
}

.contact-us__form-item input {
	padding: 6px 12px;
	margin: 5px 0;
	border: 1px solid #555;
	width: 100%;
	height: 36px;
	background-color: transparent;
	border-radius: 12px
}

.contact-us__textarea {
	position: relative;
	margin: 5px 0;
	border: 1px solid #555;
	border-radius: 12px
}

.contact-us__textarea label {
	display: block;
	padding: 9px 12px;
	margin-top: -1px;
	border: 1px solid #555;
	color: #f5426c;
	border-radius: 12px
}

.contact-us__textarea textarea {
	padding: 6px 12px;
	width: 100%;
	border: 0;
	background-color: transparent;
	resize: none;
	outline: 0
}

.contact-us__textarea .formtips {
	position: absolute;
	margin-top: 5px
}

.contact-us__submit {
	margin-top: 50px;
	max-width: 100px;
	border: 0;
	background-color: transparent
}

.contact-us__submit h6{
	font-size: 18px;
	background: linear-gradient(to right, #f6416c , #2b2051);
	color: #fff;
	padding: 10px 30px 10px 27px;
	border-radius: 20px;
	text-align: center;
}

.contact-us__contacter-info {
	padding-left: 10%
}

.contact-us__contacter-info label {
	display: block;
	margin-bottom: 16px;
	color: #555
}

.contact-us__tag {
	display: inline-block;
	padding: 3px 15px;
	margin: 7px 0;
	color: #fff;
	background-color: #555
}

.contact-us__tag i {
	font-size: 12px;
	font-style: normal;
	font-weight: 300
}

.contact-us__contacter li {
	margin-bottom: 17px;
	margin-top: 5px;
}

.contact-us__icon {
	display: inline-block;
	width: 30px;
	height: 30px;
	background-size: 100% auto;
	background-position: center
}

.contact-us__icon.name {
	background-image: url(../img/profile.svg)
}

.contact-us__icon.email {
	background-image: url(../img/email.svg)
}

.contact-us__icon.phone {
	background-image: url(../img/phone.svg)
}

.contact-us__icon~span {
	margin-left: 10px;
	color: #f5426c
}

.contact-us .formtips {
	color: red
}

.footer{
	max-width:100%;
}
 .Company_Scope{
	background: linear-gradient(to right, #f6416c , #2b2051);
	text-align: center;
	color: #fff;
	padding: 5% 20%;
 }
  .footer__info{
  	margin: 0 20%;
  }
 .footer__copyright{
	padding: 0 20%;
 }

 .footer__copyright p{
	display: inline-block;
	color:#827d77;
 }
 .footer .header__social-icons{
	display: inline-block;
 	float: right;
 }

 .Company_Scope h1{
 	font-family: RobotoBold; 
	font-weight: bold;
 	font-size: 30px;
 }

 .Company_Scope p{
 	font-size: 16px;
 	width: 80%;
 	margin: 0 auto;
 	line-height: 1.9;
 }

.footer .header__social-icons {
	font-size: 0;
	color: #fff
}

.footer .header__social-icons:after,
.footer .header__social-icons:before {
	content: none
}

.footer .header__social {
	margin-top: 3px;
	margin-bottom: 3px
}

.footer .header__social a {
	background-color: #827d77
}

.footer__info {
	border-bottom: 1px solid #f5426c;
	font-size: 0
}

.footer__info:after {
	content: "";
	display: block;
	clear: both
}

.footer__contact {
	padding-top: 2%
}

.footer__contact-title {
	color: #ef456d;
	margin-bottom:5px;
}


.footer__contact-email{
	color: #827d77;
	margin: 0;
}

.footer__contact-address {
	color: #827d77
}

.footer__follow-title {
	margin-left: 15px;
	margin-right: 3px;
	color: #555;
	font-weight: 400
}

.footer__copyright {
	margin: 30px 0
}

.footer__copyright h6{
	float: left;
	font-size:4rem;
}

.footer__copyright-logo {
	display: inline-block;
	margin: 0 20px;
	max-width: 44px
}

#prompt {
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: #fff;
	border: 1px solid #f5426c;
	padding: 3% 5%;
	border-radius: 8px;
}

#prompt h3 {
	color: #f5426c;
	margin-bottom: 30px;
	font-size: 1.8rem;
}

#prompt button {
	cursor: pointer;
	width: 100%;
	background: #fff;
	border: 1px solid #f5426c;
	color: #f5426c;
	padding: 2% 0;
	border-radius: 8px;
}

.lock-design li~li.lock-design__avatar>p {
	margin-top: 40px;
}

.lock-design li.lock-design__avatar>p {
	margin-top: 40px;
}

.lock-design__locker2 img.img2,
.lock-design__locker1 img.img2{
	position: absolute;
	width: 60%;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.lorem-ipsum__video img {
	display: block;
	width: 90%;
	margin: 0 auto;
}

.lorem-ipsum__text {
	width: 50%;
	float: right;
	text-align: left;
	margin: 1% 0;
}

.sub-container1 {
	overflow: hidden;
	margin: 5% auto;
}

.footer__info-img {
	display: block;
	width: 90%;
}

.lock-design__process_zh {
	background-image: url(../img/img_zh/lock-design-process2.png) !important;
}

.lock-design__process_zh_s {
	background-image: url(../img/img_zh/lock-design-process1.png) !important;
}

.lock-design__intro_zh {
	background-image: url(../img/img_zh/lock-design-smarter.png) !important;
}

.lorem-ipsum__video a {
	display: block;
}

.news .container {
	background-image: url(../img/new-container.png);
	background-size: 100%;
}

.communication__pic_zh {
	background-image: url(../img/img_zh/communication-pic.png) !important;
	background-size: 85%!important;
}

.new_container_zh {
	background-image: url(../img/img_zh/new-container.png) !important;
}

.road-map__content_zh {
	background-image: url(../img/img_zh/road-map.png) !important;
	background-size: 115%!important;
}

.road-map__content_zh_s {
	background-image: url(../img/img_zh/road-map-mobile.png) !important;
}


/*日本*/

.lock-design__process_ja {
	background-image: url(../img/img_ja/lock-design-process2-jp.png) !important;
}

.lock-design__process_ja_s {
	background-image: url(../img/img_ja/lock-design-process1-jp.png) !important;
}

header .language {
	position: absolute;
	top: 5%;
	right: 3%;
	cursor: pointer;
	z-index: 99;
	height: 35px;
	padding: 5px 10px;
}

.services__role-effect {
	min-height: 150px;
}

.intro__team-item-img.wang {
	background-image: url(../img/team/team-wangyue.jpg)
}

.intro__team-item-img.cai {
	background-image: url(../img/team/team-cai.jpg)
}

.intro__team-item-img.lin {
	background-image: url(../img/team/team-brainLin.jpg)
}

.intro__team-item-img.tao {
	background-image: url(../img/team/team-cai.jpg)
}

.intro__team-item-img.zhong {
	background-image: url(../img/team/team-christie.jpg)
}

.intro__team-item-img.e {
	background-image: url(../img/team/team-e.jpg)
}

.intro__team-item-img.dw-jun {
	background-image: url(../img/team/team-eric.jpg)
}

.intro__team-item-img.Jerry {
	background-image: url(../img/team/team-jerry.jpg);
}

.intro__team-item-img.Yan {
	background-image: url(../img/team/team-wang_yan.jpg);
}

.intro__team-item-img.Lisa {
	background-image: url(../img/team/team-lisa.jpg);
}

.intro__team-item-img.Suchee {
	background-image: url(../img/team/team-suchee.jpg);
}

.intro__team-item-img.Gin {
	background-image: url(../img/team/team-gin.jpg);
}

.intro__team-item-img.Alan {
	background-image: url(../img/team/team-Alan.jpg);
}

.intro__team-item-img.Emi_Wada {
	background-image: url(../img/team/team-Emi_Wada.jpg);
}

.intro__team-item-img.Yuki_Okuno {
	background-image: url(../img/team/team-Yuki_Okuno.jpg);
}

.intro__team-item-img.john_yi {
	background-image: url(../img/team/team-john_yi.jpg);
}

.intro__team-item-img.john_Lai {
	background-image: url(../img/team/team-john_Lai.jpg);
}

.intro__team-item-img.Yimeng {
	background-image: url(../img/team/team-Yimeng.jpg);
}

.intro__team-item-img.Miso_Yoon {
	background-image: url(../img/team/team-Miso_Yoon.jpg);
}

.intro__team-item-img.YOU {
	background-image: url(../img/team/team-You.png);
}

.Download strong{
	color: #f5426c;
	cursor: pointer;
}