@media screen and (max-width: 1440px){
	.form__location>div p{
		bottom: 4.5%;
	}
}
@media screen and (max-width: 1280px) {
	/*header  start*/
	body {
		width: 100%;
	}
	.navbar-collapse ul {
		width: 90%;
	}
	.tag-header ul {
		width: 100%;
		max-width: 100%;
	}
	.tag-header .tag__item {
		width: 24.2%;
		margin: 1% 1% 1% 0;
	}
	.tag-header .tag__item:first-child {
		border: 1px solid #f6416c;
	}
	.tag-header .tag__item:nth-child(4n) {
		margin-right: 0;
	}
	header li {
		margin-left: 3%;
	}
	header li.Li1 div>a,
	header li.Li2>a {
		padding: 2% 30px !important;
	}
	/*header  end*/
	.rightbox {
		padding: 0;
	}
	.rightbox>div {
		margin: 0;
	}
	.Step1_8 .divinput,
	.Step2_3 .divinput,
	.Step3_1 .divinput,
	.Step3_2 .divinput,
	.Step3_2 .check1 .divinput,
	.Step3_5 .check .divinput,
	.Step3_21 .divinput {
		width: 92%;
	}
	.Step1_10 .Shopitem>div>span.right {
		width: 55%;
		font-size: 1.4rem;
	}
	.form .container>.row {
		padding: 2% 0;
	}
	.form form {
		padding-top: 2%;
	}
	.form__location>div p{
		bottom: 3%;
		font-size: 1.5rem;
	}
	.index_box>div {
		margin-bottom: 1%;
	}
	.form .index_content,
	.form .index_home {
		width: 85%;
	}
	/*listing-card  start*/
	.listing-card .photo {
		min-height: 200px;
	}
	/*listing-card  end*/
	/*listing-experiences  start*/
	.experience .content,
	.experienceintro_content .contentbox6 .box1 .content {
		width: 86%;
		margin: 0 7%;
	}
	.experienceintro_content .contentbox>p {
		padding: 0 2% !important;
	}
	.experienceintro_content .contentbox3>.box1 .text1 {
		padding: 3% 10% 0!important;
	}
	.experienceintro_content .contentbox3>.box2 .lists>div {
		height: 260px;
	}
	/*listing-experiences  end*/
	/*introlist start*/
	.introlist .boxleft,
	.introlist .boxright {
		width: 50%;
	}
	.introlist .boxright img {
		transform: translate(0, -50%);
	}
	/*introlist end*/
	.carousel-slider {
		width: 800px;
	}
	.banner {
		height: 600px;
	}
	.image-gallery-slide img,
	.slider .slider-list li img,
	.slider .slider-list {
		height: 480px !important;
	}
}

@media screen and (max-width: 992px) {
	/*header  start*/
	.header__logo {
		width: 50px;
	}
	header .navBtn {
		position: absolute;
		top: 50%;
		right: 0%;
		transform: translate(0%, -50%);
		font-size: 3rem;
		color: #d9534f;
		border: 1px solid #d9534f;
		width: 40px;
		text-align: center;
		height: 40px;
		cursor: pointer;
		line-height: 37px;
		display: block;
	}
	header li.Li1 div>a,
	header li.Li2>a {
		padding: 2% 10px!important;
	}
	.tag-header .tag__item {
		padding: 2px 0;
	}
	.tag-header .tag__item span {
		font-size: 1.4rem;
	}
	/*header  end*/
	/*home  start*/
	.form .container {
		width: 85%;
	}
	.form__location>div{
		margin-bottom:5%;
	}
	.form__location>div p{
		bottom: 5%;
		font-size: 2.4rem;
	}
	.form .container span.color-pink,
	.form .container h4 {
		margin: 2% 0;
		font-size: 1.8rem;
	}
	.form .container h1 {
		font-size: 4rem;
	}
	.index_content .DateInput_input,
	.index_content .guestsnum input,
	.index_content .guestsnum .guestBtn,
	.index_content .guestsnum .btn-group {
		width: 150px;
	}
	/*home  end*/
	/*becomehost  start*/
	/*becomehost  end*/
	/*footer  start*/
	.footer__brand-info {
		width: 90% !important;
		margin: 3% 5% !important;
	}
	.footer__social-info {
		padding: 2% 5% 1%;
	}
	/*footer  end*/
	/*info  start*/
	.UserBox .userlist h2 {
		display: none;
	}
	.UserBox .userbtn ul li {
		margin: 3% 1%;
	}
	/*info  end*/
	/*listing-experiences  start*/
	.experienceintro_content .contentbox>p {
		padding: 0 2% !important;
	}
	.experienceintro_content .contentbox>h3,
	.experienceintro_content .contentbox1>h3 {
		top: 10%;
		right: 50% !important;
	}
	.experienceintro_content .contentbox>p {
		position: inherit !important;
		line-height: 1.6;
		margin-top: 3%;
		font-size: 1.6rem!important;
	}
	.experienceintro_content .contentbox1>div .text1,
	.experienceintro_content .contentbox3>.box1 .text1,
	.experienceintro_content .contentbox1>div .text2,
	.experienceintro_content .contentbox1>div .text3,
	.experienceintro_content .contentbox3>.box1 .text2,
	.experienceintro_content .contentbox3>.box1 .text3,
	.experienceintro_content .contentbox1>div .text4 {
		font-size: 1.6rem!important;
	}
	.experienceintro_content .contentbox3>.box2 .lists>div {
		height: 180px;
	}
	/*listing-experiences  end*/
	/*introlist start*/
	.introlist .STEPhead {
		padding-left: 10%;
	}
	.introlist {
		padding: 0;
	}
	.introlist>div {
		margin: 0;
		padding: 0 5%;
	}
	.introlist .boxleft {
		margin: 10% 0;
	}
	.introlist .boxleft .box {
		padding: 10%;
		min-height: 400px;
	}
	.introlist .STEPhead,
	.introlist .boxleft p.pre,
	.introlist .boxleft .box,
	.introlist_1 .boxleft .box,
	.introlist .boxright img,
	.introlist>div {
		position: initial;
		width: 100%;
		height: auto;
		transform: translate(0, 0);
	}
	.introlist .boxleft,
	.introlist .boxright {
		position: initial;
		width: 100%;
	}
	.introlist .boxleft p.pre,
	.introlist .boxleft button.next,
	.introlist_1 .boxleft button.next {
		position: initial;
		margin: 5% 10%;
	}
	.introlist .boxleft p.pre {
		width: 50%;
	}
	.introlist .STEPhead {
		top: 80px;
	}
	.introlist_3 .boxleft h3 {
		margin: 5% 0;
	}
	.introlist_3 .dropdown-menu {
		min-height: 300px;
	}
	/*introlist end*/
	/*register*/
	.register_content>div {
		margin-top: 5%;
	}
	.register_content .box1,
	.register_content .box2 {
		padding: 0;
		margin: 0;
	}
	.register_content .box1>div,
	.register_content .box2>div {
		width: 100%;
		margin: 0;
	}
	.Prompt .Prompt_content {
		width: 80%;
	}
	/*register*/
	.carousel-slider {
		width: 600px;
	}
	.banner {
		height: 500px;
	}
	.image-gallery-slide img,
	.slider .slider-list li img,
	.slider .slider-list {
		height: 340px !important;
	}
	/*Receipt*/
	.Receipt .box5 div.box5_top {
		margin-top: 5%;
	}
	.Receipt .box5>div {
		margin-left: 0px;
	}
	.Receipt .box4_2 p.text-center span {
		margin-right: 0px;
	}
	/*Receipt*/
}

@media screen and (max-width: 768px) {
	/*header  start*/
	.header {
		padding: 0 !important;
		margin: 0 5%;
	}
	header ul {
		margin: 0;
	}
	header li {
		padding: 3% 0;
		margin-left: 0px;
	}
	header li.Li3>a,
	header li.Li4>a {
		padding: 0;
	}
	header li.Li5 {
		margin-left: 0;
		border: none;
		border-radius: 0;
	}
	header li.Li6 {
		display: none;
	}
	.navbar-nav {
		width: 100%;
		margin: 0;
	}
	.navbar-header {
		height: 60px;
		padding: 0 2%;
		display: block !important;
		position: relative;
	}
	.navbar-nav>a {
		display: inline-block;
		float: left;
	}
	.header__logo {
		width: 35px !important;
	}
	.navbar-nav ul {
		padding: 0;
		width: 100% !important;
	}
	.navbar-collapse {
		border-bottom: 1px solid #c5c5c5;
	}
	.experienceintro_header header .navbar-collapse ul {
		margin-top: -2px;
	}
	.experienceintro_header header li.Li5 {
		border-top: 1px solid #c5c5c5;
	}
	header li.Li1,
	header li.Li2,
	header li.Li3,
	header li.Li4,
	header li.Li5,
	header li.Li6 {
		width: 100%;
		border-top: 1px solid #c5c5c5;
	}
	header li.Li1 div>a,
	header li.Li2>a {
		background: none;
		color: #131c4e !important;
		padding: 0!important;
		font-family: FiraSansBlack;
	}
	header li.Li3 {
		margin-left: 0;
	}
	header li.Li5 button {
		border: none;
		padding: 0 8%;
	}
	.tag-header .tag__item {
		width: 49%;
	}
	.form__location>div p{
		bottom: 5%;
		font-size: 2rem;
	}
	.form .container>.row {
		width: 100%;
		margin: 0;
		padding: 0;
	}
	.form .container>.row li {
		width: 49%;
		text-align: center;
		padding: 0;
		margin: 0;
	}
	.form .container>.row li:nth-child(even) {
		float: right;
	}
	.navbar-nav .navbar-collapse .navbar-brand {
		display: none !important;
	}
	.navbar-nav li:first-child {
		border-top: none;
	}
	.tag-header ul {
		padding: 0;
	}
	.button__fill {
		background-color: #fff !important;
	}
	.float-right {
		float: none !important;
	}
	.navbar-nav li a,
	.navbar-nav li button {
		font-weight: 100;
		font-size: 1.8rem;
		font-family: FiraSansBlack;
	}
	.navbar-collapse.collapse {
		display: none;
		z-index: 9999;
	}
	.container {
		max-width: 100%;
		padding: 0;
		margin: 0;
	}
	.index_content .search {
		width: 50%;
		padding: 0;
		margin: 3% 25% 0;
	}
	/*header  end*/
	/*home  start*/
	.listing-card .category {
		height: auto;
	}
	.form .container h1 {
		font-size: 2.2rem;
	}
	.form .container .text-bold {
		font-size: 1.6rem;
	}
	.footer_ul {
		margin-left: 0px;
		padding: 3.5% 0;
		float: left;
	}
	.footer_ul ul {
		padding-left: 1%;
	}
	.footer__dropdown {
		width: 50%;
	}
	.form .container {
		width: 90%;
		background: none;
		padding: 3% 0;
	}
	.form label {
		width: 50%;
		display: inline-block;
	}
	.form label.Right,
	.index_content .guestsnum:last-child {
		padding-left: 4%;
	}
	.index_content .DateInput {
		width: 50%;
	}
	.index_content .DateInput_input {
		width: 92%;
	}
	.index_content .DateInput:first-child input {
		margin-left: 0%;
	}
	.index_content .DateInput_input {
		margin-left: 7%;
	}
	.index_content .guestsnum input,
	.index_content .guestsnum .guestBtn,
	.index_content .guestsnum .btn-group {
		width: 100%;
	}
	.index_box,
	.index_box>div {
		padding: 0;
		float: left;
	}
	.index_content .guestsnum .form-group {
		width: 92%;
	}
	.index_content .form__search,
	.index_content .guestsnum:last-child .form-group {
		width: 100%;
	}
	.index_foot ul .litext1,
	.index_foot ul li {
		font-size: 1.6rem;
	}
	.index_foot {
		margin: 5% 0;
		padding: 0;
	}
	.index_foot ul .liimg {
		width: 8%;
	}
	.index_foot ul .liimg img {
		top: 0;
	}
	.form .index_home h2 {
		font-size: 2rem;
		margin: 0 0 5%;
	}
	.form .form__location img {
		/*width: 80%;*/
		/*margin: 2% 10% 20%;*/
	}
	.form .DateRangePicker_picker {
		width: 333px;
		overflow: hidden;
	}
	.form .index_home .listing-card:nth-child(1n) {
		padding-right: 15px;
		padding-left: 0px;
	}
	.form .index_home .listing-card:nth-child(2n) {
		padding-right: 0px;
		padding-left: 15px;
	}
	/*home  end*/
	/*detail start*/
	.carousel-slider {
		width: 100%;
	}
	.banner {
		height: 280px;
	}
	.image-gallery-slide img,
	.slider .slider-list li img,
	.slider .slider-list {
		height: 200px !important;
	}
	.carousel-inner {
		height: 300px;
	}
	.L_box1 .text2 {
		font-size: 2rem;
		margin-bottom: 3%;
	}
	.detail-content .col-lg-5 {
		width: 90%;
		margin: 0 5%;
	}
	.detail-content {
		padding: 5% 0;
	}
	.slider .slider-list {
		width: auto;
	}
	.L_TEXT1 {
		padding: 0 5% 5%;
	}
	.L_box2 {
		margin-bottom: 4%;
		overflow: hidden;
	}
	.L_box2 .BOX__logo {
		width: 50px;
		height: 50px;
		float: left;
		margin-left: 15%;
	}
	.L_box2 .BOX__user {
		width: 50%;
		float: right;
	}
	.L_box2 h4 {
		font-size: 2rem;
		margin-top: 0%;
	}
	.L_box2 img {
		width: 40%;
	}
	.L_box3 p img {
		width: 20px;
	}
	.L_TEXT1,
	.L_box1 .box1_list p,
	.L_box3 p,
	.L_box5 p,
	.L_box6 p,
	.L_box6 p span,
	.ReviewsGuest li .GuestDiv,
	.neighbourhood ul li {
		font-size: 1.4rem;
	}
	.L_box1_1>p,
	.box6_More {
		text-align: center !important;
		border-bottom: none;
	}
	.L_box1,
	.L_box3,
	.L_box4,
	.L_box5,
	.L_box6,
	.Reviews,
	.ReviewsDiv,
	.ReviewsGuest,
	.neighbourhood {
		padding: 0 5% 4%;
	}
	.neighbourhood ul li,
	.box1_list p {
		width: 50% !important;
	}
	.More {
		padding-left: 5%;
		font-size: 1.6rem;
	}
	.L_box4 img {
		width: 100%;
	}
	.detail-guest-div p {
		width: 20%;
	}
	.detail-guest-div .btn-group {
		width: 80%;
	}
	.detail-price-div .priceCurrency ul {
		width: 93%;
	}
	.detail-price-div .priceCurrency ul li a {
		text-align: center;
		padding: 4% 0;
	}
	.DayPicker,
	.DayPicker>div>div {
		width: 350px !important;
	}
	.DayPicker_transitionContainer {
		width: 100% !important;
		height: 300px !important;
	}
	.L_box3 p,
	.Reviews>p,
	.Reviews>div {
		width: 50%;
	}
	.Reviews,
	.ReviewsDiv {
		padding-top: 3%;
	}
	.ReviewsDiv li {
		width: 100%;
	}
	.ReviewsDiv li .divxx {
		margin: 0;
	}
	.ReviewsDiv .divxx img {}
	.ReviewsDiv li p {
		margin: 0;
	}
	.Reviews>p,
	.neighbourhood>p {
		font-size: 2.4rem;
	}
	.Reviews .divxx {
		text-align: right;
	}
	.Reviews .input-group {
		width: 100%;
	}
	.detail-content .col-lg-7,
	.detail-content .col-lg-5 {
		padding: 0;
	}
	.video {
		width: 100%;
		bottom: 0;
		right: 0;
	}
	.video h4 {
		padding: 0 2%;
	}
	.video .videobtn {
		padding: 2%;
	}
	/*detail end*/
	/*listings-grid start*/
	.listings-grid {
		margin: 0 5% 10%;
	}
	.listings-grid h1 {
		font-size: 2.6rem;
	}
	.tag-header .tag__item.active {
		background: none;
		border: 1px solid #f6416c;
		color: #f6416c;
	}
	.tag-header .tag__item.active span {
		color: #f6416c;
	}
	/*listings-grid end*/
	/*becomehost  start*/
	/*becomehost  end*/
	/*listing-experiences  start*/
	.experienceintro_header header li a {
		color: #131c4e !important;
	}
	.experienceintro_header header li.Li5 button {
		color: #131c4e !important;
	}
	.experienceintro_header header li,
	.experienceintro_header .navbar-collapse.collapse {
		background: #fff;
	}
	.experienceintro_header .navbar-brand>img {
		width: 30px !important;
	}
	.experienceintro_header .headbox h2 {
		font-size: 2.4rem !important;
	}
	.experienceintro_header header li {
		margin-left: 0;
	}
	.experienceintro_header .headbox p,
	.experienceintro_header .headbox button.btn1,
	.experienceintro_header .headbox button.btn1 a,
	.experienceintro_header .headbox button.btn2,
	.experienceintro_header .headbox button.btn2 a {
		font-size: 1.4rem!important;
	}
	.experienceintro_header .headbox button {
		width: 40%!important;
	}
	.experienceintro_header {
		overflow: hidden;
	}
	.experienceintro_header>img {
		width: 140%;
		margin-left: -20%;
	}
	.experience .content,
	.experienceintro_content .contentbox6 .box1 .content {
		width: 80% !important;
		margin: 0 10% !important;
	}
	.experience .pre,
	.experience .next,
	.experienceintro_content .contentbox6 .box1 .pre,
	.experienceintro_content .contentbox6 .box1 .next {
		width: 22px;
	}
	.experienceintro_content .contentbox>h3,
	.experienceintro_content .contentbox1>h3 {
		top: 10%;
		right: 50% !important;
		font-size: 2.2rem !important;
	}
	.experienceintro_content .contentbox>p {
		padding: 0 5% !important;
	}
	.experience .content .lists,
	.experienceintro_content .contentbox6 .box1 .content .lists {}
	.experiences_ul li {
		width: 30%;
		margin: 1% 1.6%;
	}
	.userbtn>div {
		display: inline-block;
		margin: 0 2% 0 0;
	}
	.experienceintro_content .contentbox1>div .text1,
	.experienceintro_content .contentbox3>.box1 .text1,
	.experienceintro_content .contentbox3>.box2 .lists>p {
		font-size: 1.4rem !important;
	}
	.experienceintro_content .contentbox1>div .text1,
	.experienceintro_content .contentbox3>.box1 .text1 {
		padding: 9% 10% 2%!important;
		margin: 0!important;
	}
	.experienceintro_content .contentbox1>div .text2,
	.experienceintro_content .contentbox1>div .text3,
	.experienceintro_content .contentbox3>.box1 .text2,
	.experienceintro_content .contentbox3>.box1 .text3 {
		margin: 5% auto !important;
	}
	.experienceintro_content .contentbox1>div ul,
	.experienceintro_content .contentbox3>.box1 ul {
		margin-bottom: 0 !important;
	}
	.experienceintro_content .contentbox1>img {
		width: 100%!important;
		height: auto !important;
		position: initial !important;
		margin-top: -50% !important;
	}
	.experienceintro_content .contentbox1>h3 {
		width: 50% !important;
		top: auto !important;
		left: 10% !important;
		bottom: 10% !important;
		font-size: 2.2rem !important;
	}
	.experienceintro_content .contentbox2>h3 {
		font-size: 2.2rem !important;
	}
	.experienceintro_content .contentbox2>p,
	.experienceintro_content .contentbox5 ul li p {
		width: 90%!important;
	}
	.experienceintro_content .contentbox3>.box1 .text1 {
		padding: 0% 10% 0%!important;
	}
	.experienceintro_content .contentbox3>.box1 {
		width: 90%!important;
		left: 40%!important;
	}
	.experienceintro_content .contentbox1>div .text1 span,
	.experienceintro_content .contentbox3>.box1 span {
		font-size: 5rem!important;
	}
	.experienceintro_content .contentbox3>.box1 .text2,
	.experienceintro_content .contentbox3>.box1 .text3 {
		margin: 1% auto !important;
	}
	.experienceintro_content .contentbox3>img {
		width: 100%!important;
		height: auto!important;
	}
	.experienceintro_content .contentbox3>.box2 {
		margin: 5% 0% 0 !important;
	}
	.experienceintro_content .contentbox3>.box2 .lists {
		padding: 0 5px;
	}
	.experienceintro_content .contentbox4>div {
		position: initial !important;
		padding: 0 5%;
	}
	.experienceintro_content .contentbox4>.box1 h3,
	.experienceintro_content .contentbox4>.box1 p,
	.experienceintro_content .contentbox4>.box2 .lists>div {
		color: #4d4e4e;
	}
	.experienceintro_content .contentbox4>.box2 .lists {
		padding: 0;
	}
	/*listing-experiences  end*/
	/*info  start*/
	.UserBox .userPhoto {
		margin: 0 auto;
	}
	.UserBox .userlist {
		text-align: center;
	}
	.UserBox .userlist h2 {
		margin: 15px 0;
	}
	.UserBox>div,
	.UserBox .userlist>div,
	.UserBox .userlist h2 {
		padding: 0px;
	}
	.UserBox .userlist {
		margin: 0 8px;
	}
	.UserBox .userlist ul li {
		width: 100%;
	}
	.UserBox .userlist ul.information li:nth-child(even) {
		display: none;
	}
	.UserBox .userbtn ul li button {
		width: 100%;
	}
	.UserBox .userbtn ul li {
		width: 100%;
		margin: 15px 0;
	}
	.UserBox .userbtn ul li:nth-child(even) {
		float: left;
	}
	.UserBox .userbtn ul li p {
		text-align: center;
		color: #f6416c;
	}
	.GuestList .homeTitle,
	.RoomList .homeTitle {
		padding: 10px 15px;
	}
	.GuestList .homeTitle p,
	.RoomList .homeTitle p {
		width: 50%;
	}
	.GuestList>div,
	.RoomList>div {
		height: auto;
	}
	.GuestList>div.photo,
	.RoomList>div.photo {
		height: 270px;
	}
	.GuestList .information>div {
		padding: 0;
	}
	.GuestList .information .box1 ul li,
	.RoomList .information .box1 ul li {
		text-align: center;
	}
	.GuestList .information .box1 p {
		margin: 10px;
	}
	.GuestList .information .box1 b,
	.GuestList .information .box2 b,
	.RoomList .information .box2 b {
		width: 50%;
		display: inline-block;
	}
	.GuestList .information .box2 p {
		margin: 0;
	}
	.GuestList .information .box2 button,
	.info .userqrurl button,
	.RoomList .information .box2 button {
		margin: 0 0 10px;
	}
	/*info  end*/
	/*ALL*/
	.ALL,
	.experience {
		width: 90%;
		margin: 0 5%;
	}
	.All_experiences {
		padding-right: 0;
	}
	div.Strainer_More .Bedroom ul li p.text-right {
		padding: 0;
	}
	.tag-header .tag__item>div {
		width: 230%;
		left: 0%;
	}
	.tag-header .tag__item>div.Strainer_More {
		width: 100%;
		max-height: 500px;
		left: 0%;
		top: 65%;
		padding: 5%;
	}
	.tag-header .tag__item>.Strainer_Price {
		left: 102%;
	}
	/*ALL*/
	/*modal*/
	.Signup,
	.modalcode,
	.PirvateKey,
	.Create,
	.Create1,
	.clear,
	.Gas,
	.Explainwhy,
	.Import,
	.deposit,
	.withdraw,
	.Sign,
	.submit,
	.Wallet_Reviews,
	.Amenities,
	.Rules,
	.SleepingArrangements,
	.Description,
	.ModalALL {
		width: 100% !important;
		padding: 5% !important;
		border-radius: 8px !important;
	}
	.Signup .content {
		max-height: 500px;
		overflow: auto;
	}
	.ReactModal__Content {
		width: 80%;
	}
	/*modal*/
	/*footer start*/
	.footer__dropdown .btn-group {
		width: 150px;
	}
	.footer__dropdown .btn-group .dropdown-menu li a {
		padding: 5% 10%
	}
	.footer__dropdown .btn-group .dropdown-menu li a img {
		margin: 1.5% 15% 0 0;
	}
	.footer__copyright {
		font-size: 1.2rem;
		width: 100%;
		display: block;
	}
	.footer .social li .social__icon {
		width: 20px;
	}
	/*footer end*/
	/*register start*/
	.register_content {
		padding: 0 5%;
	}
	.register,
	.register .box {
		padding: 0;
	}
	.register .STEPhead span {
		margin-right: 5%;
	}
	.registerlist_2 .btn-group,
	.registerlist_1 .box input,
	.registerlist_4 .box input,
	.registerlist_3 .btn-group,
	.registerlist_18 .btn-group,
	.registerlist_6 .photochage,
	.registerlist_8 .box textarea,
	.registerlist_12 .box label textarea {
		width: 100%;
	}
	.register_content .box1,
	.register_content .box2 {
		margin-top: 10%;
	}
	.introlist_3 .dropdown-menu a,
	.registerlist_2 .dropdown-menu a,
	.registerlist_3 .dropdown-menu a,
	.registerlist_12 .dropdown-menu a,
	.registerlist_14 .dropdown-menu a,
	.registerlist_18 .dropdown-menu a,
	.VerifyID_3 .dropdown-menu a {
		padding: 3% 5%;
	}
	.registerlist_3 .check .divinput,
	.registerlist_14 .check .divinput,
	.registerlist_15 .check .divinput,
	.registerlist_18 .check .divinput,
	.registerlist_24 .check .divinput {
		width: 90%;
	}
	.registerlist_4 .box .imgs>div {
		width: 30%;
		margin: 0 1%;
	}
	.registerlist_6 .photoleft>p.show {
		display: none !important;
	}
	.registerlist_7 .box .Gallery>div:nth-child(1),
	.registerlist_7 .box .Gallery>div:nth-child(4),
	.registerlist_7 .box .Gallery>div {
		width: 48%;
		margin: 0 1% 2%;
		padding: 0;
	}
	.registerlist_7 .box .Gallery>div>.imgdiv img {
		width: auto;
		height: 100%;
	}
	.Prompt .Prompt_content {
		background: #fff;
	}
	.Prompt .boxright .listbottom .Right span,
	.Prompt .boxright>span.close {
		color: #f6416c;
	}
	.Prompt .Prompt_content>div.boxleft,
	.Prompt .Prompt_content>div.boxright,
	.registerlist_12 .box label input,
	.registerlist_12 .box label .btn-group,
	.registerlist_12 .stepbox img,
	.registerlist_14 .btn-group,
	.registerlist_14 h6.Item_ne,
	.registerlist_15 .inputlist,
	.registerlist_20 .price_guest {
		width: 100%;
	}
	.Prompt .boxright .listtop .Right h5,
	.Prompt .boxright .listtop .Right span,
	.Prompt .boxright .lists>p,
	.Prompt .boxright .listbottom p {
		color: #4d4e4e;
	}
	.Prompt .Prompt_content {
		width: 90%;
	}
	.Prompt .boxright .listbottom span:first-child {
		width: 50%;
	}
	.Prompt .Prompt_content>div {
		padding: 5% !important;
	}
	.registerlist_12 .box .Right {
		margin: 0;
	}
	.registerlist_20 .price_guest input {
		padding:
	}
	.navbar-collapse ul {
		margin-top: 0px;
	}
	/*register end*/
	/**/
	.Confrim .box5,
	.Confrim .box6,
	.Confrim .box7,
	.Confrim .box8 {
		margin-left: 0px;
	}
	.Confrim .box5 {
		margin-top: 5%;
	}
}

@media screen and (max-width: 640px) {
	.SearchBox {
		background-size: 100% 20%;
	}
	.form .container h1 {
		margin-top: 3%;
	}
	.form__location>div p{
		bottom: 5%;
		font-size: 1.6rem;
	}
	.form .index_home .listing-card {
		padding-right: 0px!important;
		padding-left: 0px!important;
		margin-bottom: 10%;
	}
	.footer__brand-info{
		padding: 3% 0;
	}
	/*experience start*/
	.experienceintro_content .contentbox3>.box1 {
		top: 30% !important;
	}
	.experienceintro_content .contentbox3>.box2 .lists>div {
		height: 150px!important;
	}
	/*experience end*/
}