.Signup,
.modalcode,
.PirvateKey,
.Create,
.Create1,
.clear,
.Gas,
.Explainwhy,
.Import,
.deposit,
.withdraw,
.Sign,
.submit,
.Wallet_Reviews,
.Amenities,
.Rules,
.SleepingArrangements,
.Description,
.ModalALL {
	width: 460px;
	background: #f2f2f2;
	border-radius: 7px;
	border-radius: 20px;
	border-radius: 25px !important;
	padding: 10%;
	overflow: hidden;
}

.Signup {
	padding: 5% 8%;
	background: #fff;
}

.Signup .user_status {
	text-align: center;
	margin: 50px auto 0;
}

.Signup .VerificationCodeTS {
	padding: 10%;
	background: #fff;
	border: 2px solid #f6416c;
	border-radius: 8px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 18px;
	color: #f6416c;
	text-align: center;
}

.Signup .user_status a,
.Import .user_status a {
	color: #f6416c;
	cursor: pointer;
	margin-left: 2%;
}

.Signup .user_status a:hover,
.Import .user_status a:hover {
	color: #f6416c;
}

.Create1 .copy {
	margin-left: 5%;
}

.redlogo {
	display: block;
	width: 50px;
	margin: 0 auto 5px;
}

.Import .user_status {
	text-align: center;
	margin: 20px auto 0;
}

.Import p.wrong_password {
	font-size: 1.4rem;
	color: #f6416c;
}

.Import .codeimg {
	overflow: hidden;
	margin: 30px auto 0;
}

.Import .codeimg input {
	width: 55%;
	border: 1px solid #d7d7d7;
	height: 35px;
	text-align: center;
	font-size: 1.6rem;
	background: #fff;
	border-radius: 4px;
}

.Import .codeimg img {
	float: right;
	width: 30%;
	height: 35px;
	cursor: pointer;
	margin-right: 5%;
}

button.copy,
button.copy:hover {
	width: auto !important;
	font-size: 1.4rem !important;
	padding: 0 5% !important;
	border: none !important;
}

.overlay-box button a {
	color: #f5426c;
}

.Signup .dropdownBtn {
	position: relative;
	width: 55%;
	float: left;
}

.Signup img.close,
.Amenities img.close,
.Rules img.close,
.Description img.close,
.SleepingArrangements img.close {
	width: 15px;
	float: right;
	cursor: pointer;
}

.Signup h2 {
	text-align: center;
	color: #131c4e !important;
	font-size: 2.2rem;
	margin: 0;
	font-family: RobotoBold;
	font-weight: bold;
}

.Signup .content {
	padding-right: 15px;
}

.Signup .content>div {
	position: relative;
}

.Signup .content>div b {
	position: absolute;
	right: -10px;
	bottom: 0;
	display: block;
	width: 7px;
	height: 7px;
	border-radius: 50%;
	background: #f6416c;
}

.Signup .content>div b.Active {
	background: #61c46e;
}

.Signup .content .overflow {
	clear: both;
}

.Signup .Prompt {
	float: right;
	width: 45%;
	height: 35px;
	position: relative;
}

.Signup .Prompt img {
	width: 15px;
	position: absolute;
	bottom: 0px;
	left: 5%;
	cursor: pointer;
}

.Signup .Prompt img:hover+p {
	display: block;
}

.Signup .Prompt p {
	position: absolute;
	background: #151b4e;
	color: #fff;
	font-size: 1.2rem;
	width: 80%;
	right: -10px;
	top: 0px;
	padding: 15px;
	display: none;
}

.Signup .Prompt p span {
	display: block;
	width: 0px;
	height: 0px;
	border: 8px solid transparent;
	border-right: 15px solid #151b4e;
	float: left;
	margin-left: -30px;
	margin-top: 10px;
}

.Signup button {
	width: 100%;
	font-size: 1.4rem;
	text-align: left;
	height: 35px;
	background-image: url(../images/inputbg.png);
	background-size: 100% 100%;
}

.Signup button span {
	float: right;
	color: #f6416c;
	font-size: 1.8rem;
}

.Signup .dropdown-menu {
	width: 100%;
	padding: 0;
	margin: 0;
	transform: translate(0%, 35px) !important;
}

.Signup .dropdown-menu>a {
	display: block;
	height: 40px;
	line-height: 40px;
	padding: 0 5%;
	margin: 0;
	border-top: 1px solid #888;
	cursor: pointer;
	text-align: left;
	color: #4d4e4e;
	padding: 0 8% !important;
}

.Signup .dropdown-menu a {
	font-size: 1.4rem;
	padding: 0 6%;
}

.Signup .dropdown-menu a>div>a {
	display: block;
	height: 40px;
	padding: 0;
}

.Signup input {
	height: 35px;
	background-image: url(../images/inputbg.png);
	background-size: 100% 100%;
	border: none;
	-moz-appearance: textfield;
	-webkit-appearance: none;
}

.Signup .dropdown {
	font-size: 1.6rem;
	color: #f6416c;
	position: relative;
}

.Signup .form-group {
	margin-bottom: 10px;
}

.Signup .form-group label {
	font-family: RobotoBold;
	font-weight: bold;
}

.Signup .form-group label span {
	color: #f6416c;
}

.Signup .emailHelp {
	display: block;
	text-align: right;
	color: #f6416c !important;
}

.Signup .VerificationCode {
	overflow: hidden;
	border-radius: 4px;
}

.Signup .VerificationCode button {
	float: left;
	width: 60%;
	height: 35px;
	text-align: center;
	border-radius: 0px;
	padding: 0;
	background: linear-gradient(to right, #e9406a, #2b2051);
	border: none;
	color: #fff;
}

.Signup .VerificationCode button.active {
	opacity: 0.5;
}

.Signup .VerificationCode input {
	float: right;
	width: 40%;
	border-radius: 0px;
	padding: 0;
	text-align: center;
}

.Signup .closeok {
	width: 48%;
	font-size: 1.8rem;
	text-align: center;
	float: left;
	padding: 0;
	background-color: #fff;
	border: 1px solid #f6416c;
}

.Signup .closecancel {
	width: 48%;
	background: #f6416c;
	background-size: 100% 100%;
	color: #fff;
	font-size: 1.8rem;
	text-align: center;
	float: right;
}

.Signup .closecancel:hover {
	color: #131c4e;
}


/*.info*/

.info {
	max-width: 1200px !important;
	width: 80%;
	margin: 0 auto;
}

.UserBox {
	margin: 7% 0 3%;
}

.UserBox .userPhoto {
	width: 100px;
	height: 100px;
	position: relative;
	overflow: hidden;
	background-size: cover !important;
	border-radius: 50%;
	border: 1px solid #f6416c;
	margin: 15px 0;
}

.UserBox .userPhoto span {
	padding: 0px;
	position: absolute;
	top: 40%;
	left: 40%;
	transform: translate(-50%, -50%);
}

.UserBox .userPhoto:hover p {
	display: block;
}

.UserBox .userPhoto input {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	cursor: pointer;
	z-index: 99;
	opacity: 0;
}

.UserBox .userPhoto p {
	width: 100%;
	height: 100%;
	background: #000;
	opacity: 0.5;
	position: absolute;
	top: 0;
	left: 0;
	cursor: pointer;
	text-align: center;
	display: none;
}

.UserBox .userPhoto p span {
	width: 70%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 1.6rem;
}

.UserBox .userlist {
	border-bottom: 1px solid #f6416c;
	position: relative;
}

.UserBox .userlist h2 {
	margin: 0;
	padding: 0;
	text-align: center;
}

.UserBox .userlist h2 span {
	font-family: RobotoBold;
	font-weight: bold;
	float: left;
	font-size: 2rem;
}

.UserBox .userlist h2 span:last-child {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-size: 3rem;
}

.UserBox .userlist ul {
	width: 100%;
	overflow: hidden;
}

.UserBox .userlist ul.information li:nth-child(even) {
	width: 3px;
	background: #f6416c;
	height: 10px;
	margin: 5px 20px;
}

.UserBox .userlist ul li {
	float: left;
	height: 20px;
	line-height: 20px;
	font-size: 1.6rem;
	margin-bottom: 20px;
}

.UserBox .userlist ul li span {
	font-size: 1.6rem;
	font-family: RobotoBold;
	font-weight: bold;
	margin-right: 10px;
}

.UserBox ul.PPSinformation li {
	width: 30%;
}

.UserBox .userlist .round {
	display: inline-block;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background: #f6416c;
	position: absolute;
	right: 0px;
	bottom: -5px;
}

.UserBox .userbtn,
.UserBox .userbtn ul {
	overflow: hidden;
}

.UserBox .userbtn ul li {
	float: right;
	margin: 40px 20px;
}

.UserBox .userbtn ul li button:hover,
.info .userqrurl button:hover {
	color: #fff;
	background: #f6416c;
}

.UserBox .userbtn ul li button {
	width: 100px;
	background: #fff;
	border: 1px solid #f6416c;
	color: #f6416c;
	border-radius: 0px;
	height: 35px;
}

.UserBox .userbtn ul li p:hover {
	color: #f6416c;
}

.info h1,
.HostManagment h1 {
	border-left: 3px solid #f6416c;
	padding-left: 2%;
	margin-bottom: 2%;
	font-size: 2.6rem;
	position: relative;
}

.info h1 span, .HostManagment h1 span{
	position: absolute;
	right: 0px;
	top:50%;
	transform: translateY(-50%);
	font-size: 2rem;
}

.info h1 span:hover, 
.HostManagment h1 span:hover{
	color:#f6416c;
	cursor: pointer;
}

.GuestManagment,
.HostManagment {
	margin: 4% 0;
	position: relative;
	overflow: hidden;
}

.homeList {
	border-left: none;
}

.GuestList,
.RoomList {
	margin-bottom: 30px;
	overflow: hidden;
}

.RoomList,
.GuestList>div {
	padding: 0;
	overflow: hidden;
	border: 1px solid #999;
	position: relative;
}

.RoomList>a,
.GuestList .homeList>a{
	position: absolute;
	display: inline-block;
	height: 100%;
	width:30%;
	background-size: cover;
}

.RoomList .Right,
.GuestList .homeList>.Right{
	width: 70%;
}

.RoomList .photo,
.GuestList .photo{
	height: 100%;
}

.GuestList .homeTitle,
.RoomList .homeTitle {
	overflow: hidden;
	padding: 10px 30px;
	border-bottom: 1px solid #999;
}

.GuestList .homeTitle p,
.RoomList .homeTitle p,
.GuestList .homeTitle h2,
.RoomList .homeTitle h2 {
	height: 30px;
	line-height: 30px;
	font-size: 1.8rem;
	margin: 5px 0;
}

.GuestList .homeTitle p,
.RoomList .homeTitle p {
	width: 60%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.GuestList .homeTitle h2,
.RoomList .homeTitle h2 {
	width: 25%;
	font-family: RobotoBold;
	font-weight: bold;
	font-size: 2rem;
	text-align: center;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.GuestList .information {
	overflow: hidden;
	padding: 10px 20px;
}

.GuestList .information .box1 ul,
.RoomList .information .box1 ul {
	overflow: hidden;
}

.GuestList .information .box1 ul li,
.RoomList .information .box1 ul li {
	width: 30%;
	float: left;
}

.GuestList .information .box1 ul li h4,
.GuestList .information .box1 b,
.GuestList .information .box2 b,
.RoomList .information .box1 ul li h4,
.RoomList .information .box1 b,
.RoomList .information .box2 b {
	font-family: RobotoBold;
	font-weight: bold;
	font-size: 1.8rem;
	font-weight: 100;
}

.GuestList .information .box2 b,
.RoomList .information .box2 b {
	width: 18%;
	display: inline-block;
}

.GuestList .information .box1 p span,
.RoomList .information .box1 p span {
	font-size: 1.6rem;
}

.GuestList .information .Guestphoto {
	width: 80px;
	height: 80px;
	border-radius: 50%;
	margin: 0 auto;
	display: block;
	border: 2px solid #f6416c;
	position: relative;
	overflow: hidden;
	background-size: cover;
}


.GuestList .information .GuestName {
	font-size: 1.6rem;
	text-align: center;
}

.GuestList .information .box2,
.RoomList .information .box2 {
	padding: 10px 15px 0px;
	overflow: hidden;
	position: relative;
}
.GuestList .information .box2>p,
.RoomList .information .box2>p{
	margin: 0;
}

.info button {
	border: 1px solid #f6416c;
	background: #fff;
	color: #f6416c;
	margin: 0 30px 10px 0px;
	border-radius: 0px;
	font-size: 1.6rem;
	padding: 0 30px;
}

.GuestList .information .box2 p span {
	color: #666;
	margin: 0;
	font-size: 1.6rem;
}

.RoomList .information .box2 p.details {
	position: absolute;
	top: 50%;
	right: 10px;
	transform: translate(0%, -50%);
	font-size: 1.6rem;
	border-bottom: 1px solid #f6416c;
	cursor: pointer;
}

.RoomList .Viewdetails {
	margin: 5% 0;
	border-top: 1px solid #43424a;
	border-bottom: 1px solid #43424a;
	height: auto;
}

.RoomList .Viewdetails div.GuestsList {
	position: relative;
	width: 40%;
	margin: 5% auto;
}

.RoomList .Viewdetails h4 {
	font-size: 1.6rem;
	border-bottom: 1px solid #43424a;
	font-family: RobotoBold;
	font-weight: bold;
	padding: 3% 0;
	width: 80%;
	margin: 3% auto;
}

.RoomList .Viewdetails div.GuestsList>div {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	margin: 8% 0;
}

.RoomList .Viewdetails div.GuestsList>p {
	position: absolute;
	top: 50%;
	right: 10px;
	transform: translate(0%, -50%);
}

.RoomList .Viewdetails div.Time>div {
	text-align: center;
	margin: 8% 0;
}

.RoomList .Viewdetails div.Time>div b {
	font-family: RobotoBold;
	font-weight: bold;
	font-size: 1.6rem;
}

.RoomList .Viewdetails div.Payment>p {
	text-align: center;
	font-size: 1.6rem;
	margin: 15% 0;
}

.info .userqrurl img {
	width: 80%;
	display: block;
	margin: 0 auto;
}

.info .userqrurl h4 {
	font-size: 2.2rem;
	color: #f6416c;
}

.info .userqrurl p {
	width: 80%;
	word-break: break-all;
	margin: 20px auto;
	color: #333;
}

.info .userqrurl button {
	height: 38px;
	width: 120px;
	padding: 0;
	margin: 0 auto;
}

.RoomList>div {
	padding: 0;
	height: 215px;
}

.RoomList .information {
	overflow: hidden;
	padding: 20px;
}

.RoomList span {
	font-size: 1.6rem;
	margin-left: 10px;
	color: #f6416c;
}

.No_order {
	color: #f6416c;
	margin: 100px auto;
	padding: 1% 5%;
	font-size: 1.8rem;
	text-align: center;
}

.Add_a_house {
	border: 1px solid #f6416c;
	background: #fff;
	color: #f6416c;
	margin: 100px auto;
	padding: 1% 5%;
	font-size: 1.8rem;
}

.info button:hover,
.Add_a_house:hover {
	color: #fff;
	background: #f6416c;
}

.GuestManagment h1,
.HostManagment h1 {
	margin-left: -2%;
}

.auto {
	min-width: 800px;
	overflow: auto;
}

.overflowAuto {
	max-height: 500px;
	overflow: auto;
}

.GuestManagment>.divtr,
.HostManagment>.divtr {
	border-top: 1px solid #151b4e !important;
}

.GuestManagment .divtr,
.HostManagment .divtr {
	overflow: hidden;
	border-bottom: 1px solid #151b4e !important;
}

.GuestManagment .divtr>div p {
	margin-bottom: 0;
}

.GuestManagment .divtr>div a p {
	width: 100px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	margin: 0 auto;
}

.GuestManagment .divtr>div a p span {
	margin-right: 10px;
}

.GuestManagment .divtr>div,
.HostManagment .divtr>div {
	float: left;
	width: 16.5%;
	text-align: center;
	font-family: RobotoBold;
	font-weight: bold;
	font-size: 1.8rem;
	padding: 1% 0 !important;
}

.GuestManagment .overflowAuto .divtr>div,
.HostManagment .overflowAuto .divtr>div {
	width: 16.5%;
	text-align: center;
	color: #999;
	padding: 0.8% 0 !important;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-size: 1.6rem;
}

.GuestManagment .divtr>div,
.GuestManagment .overflowAuto .divtr>div {
	width: 14.2%;
}

.GuestManagment .divtr>div button {
	background: #fff;
	border: 1px solid #f6416c;
	color: #f6416c;
	line-height: 0;
	height: 30px;
}

.GuestManagment .divtr>div .glyphicon {
	color: #f6416c;
	cursor: pointer;
}

.GuestManagment .divtr>div span,
.GuestManagment .divtr>div a {
	font-size: 1.6rem;
}

.btnActive:hover,
.btnActive {
	opacity: 0.5;
	border: 1px solid #999 !important;
	color: #999 !important;
	background: #fff !important;
}

.userbtn>div {
	padding-bottom: 9.5%;
}

.userbtn>div:last-child {
	padding-bottom: 0;
}

.userbtn>div>button {
	background: none;
	border: 1px solid #f6416c;
	width: 100px;
	border-radius: 0;
}

.userbtn>div>button:hover {
	background: #f6416c;
	color: #fff;
}

.modalcode h3,
.Create h2,
.Create1 h2,
.PirvateKey h2,
.clear h2,
.Gas h2,
.Import h2,
.deposit h2,
.withdraw h2,
.Sign h2,
.submit h2,
.overlay-box .checkIn h3,
.ModalALL h3 {
	color: #f6416c !important;
	text-align: center;
	font-family: RobotoBold;
	font-weight: bold;
	font-size: 2.2rem;
	margin: 0 0 3%;
	line-height: 1.9;
}

.info .UserBox .userPhoto span.glyphicon-refresh,
.success h1 span.glyphicon-refresh,
.deposit span.glyphicon-refresh,
.submit span.glyphicon-refresh {
	color: #f6416c;
	font-size: 2rem;
	margin-left: 2%;
	animation: refresh 1s infinite;
	-webkit-animation: refresh 1s infinite linear;
	/* Safari 和 Chrome */
}

@keyframes refresh {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.clear>div h3,
.Create1 h3,
.PirvateKey>div h3,
.Gas>.form-group>label,
.deposit>.form-group>label,
.Sign>.form-group>label,
.Create h3,
.Import>.form-group>label {
	margin: 2% 0;
	display: inline-block;
	font-size: 1.8rem;
	line-height: 1.4;
}

.clear>div,
.PirvateKey>div,
.Create1,
.Import>div {
	margin: 0 auto;
	overflow: hidden;
}

.clear>div .text1,
.PirvateKey>div .text1,
.Create1 .text1 {
	display: inline-block;
	word-break: break-all;
	font-size: 1.6rem;
	cursor: pointer;
	border: none;
	background: none;
	outline: none;
	margin: 0;
}

.modalcode button,
.clear button,
.PirvateKey button,
.Gas button,
.deposit button,
.Sign button,
.Create button,
.Create1 button,
.Import button,
.withdraw button,
.overlay-box .balance,
.clear .balance,
.overlay-box .checkIn button,
.ModalALL button {
	width: 45%;
	padding: 1% 0;
	margin: 6% auto 0;
	font-size: 1.8rem;
	border: 1px solid #f6416c;
}
button.copy{
	margin: 0;
}

.modalcode button.Left,
.clear button.Left,
.Gas button.Left,
.deposit button.Left,
.Sign button.Left,
.Import button.Left,
.withdraw button.Left,
.overlay-box .balance,
.deposit .balance,
.clear .balance,
.overlay-box .checkIn button.Left,
.EnterPassword button.Left,
.ModalALL button {
	color: #43424a;
	background: #fff;
}

.clear .copy,
.clear button.Right,
.Gas button.Right,
.deposit button.Right,
.PirvateKey button,
.Create1 button,
.Sign button.Right,
.Create button,
.Import button.Right,
.withdraw button.Right,
.overlay-box .checkIn button.Right,
.EnterPassword button.Right,
.modalcode button {
	background: linear-gradient(to right, #e9406a, #2b2051);
	border: none;
	color: #fff;
}

.modalcode button,
.Create button,
.Create1 button,
.PirvateKey button,
.deposit button.center,
.ModalALL button {
	width: 98%;
	margin: 6% 0 0;
}

.Gas>.form-group>input,
.deposit>.form-group>input,
.Sign>.form-group>input,
.Import>.form-group>input,
.withdraw .submitbox input {
	background-image: url(../images/inputbg.png);
	background-color: #f2f2f2;
	background-size: 100% 100%;
	height: 35px;
	font-size: 1.6rem;
	margin-bottom: 0%;
	border: none;
}

.deposit .photoClick {
	width: 30px;
	position: absolute;
	right: 0;
	top: 0;
}

.clear .Please_logn_in {
	text-align: center;
}

.deposit .text2 {
	font-family: RobotoBold;
	font-weight: bold;
	font-size: 1.8rem;
	text-align: center;
	word-break: break-word;
}

.ReactModal__Overlay {
	background: rgba(255, 255, 255, 0.9) !important;
	z-index: 9999;
}

.ReactModal__Content {
	padding: 0px !important;
	background: none !important;
	border: none !important;
	top: 50% !important;
	left: 50% !important;
	bottom: auto !important;
	right: auto !important;
	transform: translate(-50%, -50%) !important;
	box-shadow: 0px 0px 10px #888888 !important;
	border-radius: 25px !important;
}

.Import .Left,
.Import .Right {
	border: 1px solid #f6416c;
	height: 35px;
	line-height: auto;
	font-size: 1.6rem;
	padding: 0 auto!important;
}

.Import .emailHelp {
	float: right;
	color: #f6416c;
	margin-top: 5px;
}

.closeactive {
	opacity: 0.5;
}

.Wallet_Reviews,
.withdraw {
	padding: 5%;
	width: 750px;
}

.withdraw .tablebox {
	max-height: 300px;
	overflow: auto;
}

.withdraw table tr {
	width: 100%;
}

.withdraw table tr,
.withdraw table th {
	text-align: center;
	font-size: 1.6rem;
	font-family: RobotoBold;
	font-weight: bold;
}

.withdraw .submitbox {
	width: 100%;
	margin: 0;
}

.withdraw .submitbox label {
	font-size: 1.8rem;
	margin-top: 3%;
	font-family: RobotoBold;
	font-weight: bold;
}

.withdraw table tr td.td5 {
	width: 35%;
}

.withdraw table td.td1,
.withdraw table td.td2,
.withdraw table td.td3,
.withdraw table td.td4 {
	width: 20%;
	color: #999;
}

.withdraw table td.td2 p,
.withdraw table td.td3 p,
.withdraw table td.td4 p {
	width: 110px;
	overflow: hidden;
	font-size: 1.6rem;
	margin: 0;
}

.withdraw table td input {
	outline: none;
	border: none;
	width: 90%;
	font-size: 1.6rem;
	background: #f2f2f2;
}

.withdraw table td button {
	width: 48%;
	font-size: 1.2rem;
	margin: 0;
	padding: 3% 0;
}

.withdraw button {
	width: 35%;
	margin-top: 3%;
}

.overlay-box .balance,
.deposit .balance,
.clear .balance {
	width: 50%;
	margin: 5% 25% 0;
	padding: 0;
}

.Wallet_Reviews .box1 {
	border-bottom: 1px solid #c5c5c5;
	overflow: hidden;
	padding-bottom: 2%;
}

.Wallet_Reviews .box1 .userimg {
	width: 70px;
	height: 70px;
	border-radius: 50%;
	overflow: hidden;
	border: 1px solid #f6416c;
	position: relative;
	float: left;
	margin: 2% 0;
}

.Wallet_Reviews .box1 .userimg img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.Wallet_Reviews .box1 .usertext {
	float: right;
	width: 80%;
}

.Wallet_Reviews .box1 .usertext h4 {
	font-family: RobotoBold;
	font-weight: bold;
	font-size: 2rem;
}

.Wallet_Reviews .box1 .usertext p {
	font-size: 1.6rem;
}

.Wallet_Reviews .box1 .usertext h6 {
	font-size: 1.4rem;
}

.Wallet_Reviews .box2 li p {
	font-size: 1.6rem;
	float: left;
	color: #4d4e4e;
	margin: 2% 0;
}

.Wallet_Reviews .box2 li .divxx img {
	width: 20px;
	margin: 0 3px;
	cursor: pointer;
}

.Wallet_Reviews textarea {
	width: 100%;
	height: 100px;
	border: none;
	font-size: 1.6rem;
	border-bottom: 2px solid #f6416c;
}

.Wallet_Reviews .photos {
	max-height: 200px;
	overflow: auto;
}

.Wallet_Reviews .photos .photosipt {
	position: relative;
}

.Wallet_Reviews .photos .photosipt img {
	width: 100%;
	height: 100%;
}

.Wallet_Reviews .photos input {
	width: 100%;
	height: 150px;
	position: absolute;
	top: 0;
	opacity: 0;
}

.Wallet_Reviews .photos .photosimg img {
	width: auto;
	height: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.Wallet_Reviews .photos .photosimg span {
	display: inline-block;
	color: #fff;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background: #000;
	text-align: center;
	line-height: 40px;
	font-size: 2rem;
	opacity: 0;
	cursor: pointer;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.Wallet_Reviews .photos .photosimg:hover span {
	opacity: 0.6
}

.Wallet_Reviews .photos .photosimg,
.Wallet_Reviews .photos .photosipt {
	width: 31.1%;
	height: 150px;
	position: relative;
	overflow: hidden;
	margin: 1%;
	float: left;
}

.Wallet_Reviews button {
	background: none;
	border: none;
	color: #f6416c;
	font-size: 1.8rem;
	margin-top: 3%;
}

.Wallet_Reviews button.Right1 {
	color: #4d4e4e;
}

.footer .modal-dialog {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) !important;
}

.footer .modal-dialog button {
	padding: 1% 3%;
}

.footer .modal-dialog button span {
	font-size: 2rem;
}


/*Map*/

#Map {
	height: 100%;
	max-height: 600px;
	overflow: hidden;
}

#Map button.position {
	background: transparent;
	background-image: url(../images/btnbj.png);
	background-size: 100% 100%;
	border: none;
	padding: 5px 0 15px;
	min-width: 100px;
}

#Map button.positionActive {
	background: transparent;
	background-image: url(../images/btnbjActive.png);
	background-size: 100% 100%;
	border: none;
	padding: 5px 0 15px;
	min-width: 100px;
	color: #fff;
}

#Map .amap-marker a {
	display: block;
	width: 245px;
	background: #fff;
	padding: 5px 5px 10px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#Map .photo {
	height: 150px;
	background-size: cover;
	position: relative;
}

#Map .photo img {
	width: 50px;
	margin: 0 auto;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#Map .category {
	color: #f6416c;
	font-family: RobotoBold;
	font-weight: bold;
	margin: 5px 0;
}

#Map .title {
	color: #131c4e;
	font-family: RobotoBold;
	font-weight: bold;
}

#Map .price {
	color: #131c4e;
	margin: 5px 0;
}

#Map .divxx {
	overflow: hidden;
}

#Map .divxx img {
	width: 15px;
	float: left;
	margin-right: 10px;
}

#Map .divxx span {
	float: left;
}

.overlay-box {
	border: 1px solid #f6416c;
	padding: 2%;
}

.overlay-box .checkIn h3 {
	margin-bottom: 8%;
}

.overlay-box .checkIn button {
	width: 40%;
}

.overlay-box .checkIn input {
	border: 1px solid #f6416c;
	width: 100%;
	padding: 3% 5%;
	margin: 5% 0;
}

.clear .Getkey,
.PirvateKey .Getkey {
	position: relative;
	margin: 15px 0;
}

.clear .Getkey input,
.PirvateKey .Getkey input {
	border: 1px solid #f6416c;
	height: 30px;
	border-radius: 8px;
	width: 100%;
	padding: 0 10px;
}

.clear .Getkey button,
.PirvateKey .Getkey button {
	width: 100px;
	background: #f6416c;
	color: #fff;
	height: 30px;
	border-radius: 8px;
	font-size: 1.6rem;
	position: absolute;
	right: 0px;
	top: 0px;
	margin: 0px;
}

.EnterPassword input {
	width: 100%;
	border: 1px solid #f6416c;
	padding: 5px 10px;
	font-size: 1.6rem;
}

.EnterPassword p {
	text-align: left;
	font-size: 1.4rem;
	margin-top: 10px;
}

.EnterPassword button {
	width: 40%;
	background: #fff;
	border: 1px solid #f6416c;
	color: #f6416c;
	margin-top: 20px !important;
}

.PasswordNull {
	opacity: 0.5;
}

.wrong_password {
	font-size: 1.4rem !important;
	color: #f6416c !important;
	text-align: right !important;
}


/*Amenities*/

.Amenities h2,
.Description h2,
.Rules h2 {
	margin: 0 0 10%;
	text-align: center;
	font-family: RobotoBold;
	font-weight: bold;
}

.Amenities p {
	display: inline-block;
	width: 33.33%;
	text-align: center;
}

.Amenities p img {
	width: 50px;
	display: block;
	margin: 0 auto;
}


/*SleepingArrangements*/

.SleepingArrangements .images {
	overflow: hidden;
}

.SleepingArrangements div.listbedroom {
	width: 30%;
	display: inline-block;
	background: #f6416c;
	padding: 2%;
	margin: 2% 2% 2% 0;
	height: 220px;
}

.SleepingArrangements h1 {
	font-size: 2.4rem;
	margin: 8% 2% 5%;
}

.SleepingArrangements .pdiv {
	margin: 4% 0 0 2%;
	overflow: hidden;
}

.SleepingArrangements .pdiv p {
	font-size: 1.8rem;
	margin: 0;
	padding: 0;
}

.SleepingArrangements div.images img {
	width: 10%;
	margin: 3% 0 3%;
}


/*Rules*/

.Rules p,
.Description div,
.AdditionalRules {
	max-height: 300px;
	overflow: auto;
	padding-right: 15px;
}

.Rules ul {
	list-style-type: disc;
}

.Rules ul li {
	font-size: 1.6rem;
	margin-bottom: 2%;
}

.hostbook {
	font-size: 2rem !important;
	font-family: RobotoBold;
	font-weight: bold;
	margin: 50px 0px;
}

.Show_all_Manual {
	overflow: hidden;
}

.ModalALL p {
	font-size: 16px;
	text-align: center;
}

.borderbottom {
	height: 30px;
	border-bottom: 1px solid #c5c5c5;
}