.Fees .LeftSpan {
	cursor: pointer;
	font-size: 2rem;
	color: #131c4e;
}

.Fees .LeftSpan .Leftprompt {
	display: inline-block;
	position: relative;
	height: 20px;
	float: right;
	margin: 7px 0 0 7px;
}

.Fees .LeftSpan .Leftprompt:hover div {
	display: block;
}

.Fees .LeftSpan .Leftprompt div {
	width: 200px;
	padding: 10px;
	position: absolute;
	background: #131c4e;
	top: 0px;
	z-index: 99;
	left: 30px;
	display: none;
}

.Fees img {
	width: 18px;
	top: 50%;
	right: -25px;
	transform: translate(0, -50%);
}

.Fees div h6 {
	font-size: 1.4rem;
	line-height: 1.9;
	color: #fff;
}

.Fees div p {
	width: 0px;
	height: 0px;
	border: 10px solid transparent;
	border-right: 10px solid #131c4e;
	position: absolute;
	left: -20px;
	top: 5px;
}

.Payments .LeftSpan .Leftprompt div {
	top: -10px;
}

.Cancellations,
.Payments {
	overflow: hidden;
	max-width: 1200px !important;
	width: 80%;
	margin: 0 auto;
}

.Payments .BookNav {
	margin: 4% 0% 4%;
	position: relative;
}

.Payments .BookNav img {
	width: 50px;
}

.Payments .BookNav ul {
	position: absolute;
	left: 15%;
	bottom: -5px;
	width: 100%;
}

.Payments .BookNav ul li {
	display: inline-block;
	margin-right: 1%;
}

.Payments .BookNav ul li span {
	display: inline-block;
	width: 5px;
	height: 5px;
	border-radius: 50%;
	margin: 0 2px;
	background: #cdcdcd;
}

.Payments .BookNav ul li span.bj-pink {
	background: #f6416c;
}

.Payments>div {
	padding: 0;
}

.Cancellations h2,
.Payments h2 {
	font-weight: bold;
	font-family: RobotoBold;
	margin-bottom: 4%;
}

.Payments .Left_Part .Guests,
.Payments .Left_Part .Pay_with,
.Payments .Left_Part {
	padding-right: 30px;
	margin-bottom: 10%;
}

.Payments .Left_Part .About_the_Space {
	border: 1px solid #cdcdcd;
	border-radius: 8px;
	padding: 5% 4% 2%;
}

.Payments .Left_Part .About_the_Space ul li {
	overflow: hidden;
	margin-bottom: 3%;
}

.Payments .Left_Part .About_the_Space ul li img {
	width: 16px;
	margin-right: 15px;
	float: left;
}

.Payments .Left_Part .About_the_Space ul li div {
	width: 90%;
}

.Payments .Left_Part .About_the_Space ul li div p {
	display: inline-block;
}

.Payments .Left_Part .About_the_Space ul li div p:after {
	content: "、";
}

.Payments .Left_Part .About_the_Space ul li div p:last-child:after {
	content: "";
}

.Payments .Left_Part .Nights_in ul li img,
.Payments .Left_Part .Nights_in ul li div,
.Payments .Left_Part .About_the_Space ul li div {
	float: left;
}

.CancellationsList .List h3,
.Payments .Left_Part .ContactHost h4,
.Payments .Left_Part .Guests h4,
.Payments .Left_Part .Pay_with h4,
.Payments .Left_Part .Nights_in h4,
.Payments .Left_Part .About_the_Space ul li div h3,
.Payments .Right_Part h2 {
	margin: 0;
	font-weight: bold;
	font-family: RobotoBold;
	font-size: 1.8rem;
	margin-bottom: 2%;
}

.Payments .Left_Part .About_the_Space ul li div p,
.Payments .Left_Part .Nights_in ul li div p,
.Payments .Left_Part .Nights_in>p {
	margin: 0;
}

.Payments .Left_Part .Nights_in {
	border-bottom: 1px solid #cdcdcd;
}

.Payments .Left_Part .Nights_in h4 {
	font-size: 1.8rem;
	margin: 5% 0 3%;
}

.Payments .Left_Part .Nights_in div {
	margin-bottom: 4%;
}

.Payments .Left_Part .Nights_in ul li {
	width: 50%;
	display: inline-block;
	margin-bottom: 2%;
}

.Payments .Left_Part .Nights_in ul li div.imgdiv {
	width: 55px;
	margin-right: 6%;
	margin-top: 0px;
	position: relative;
}

.Payments .Left_Part .Nights_in ul li div.imgdiv p {
	position: absolute;
	top: 65%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	color: #f6416c;
	line-height: 1;
	font-weight: bold;
	font-family: RobotoBold;
}

.Payments .Left_Part .Nights_in ul li div,
.Payments .Left_Part .Nights_in>p {
	margin-top: 3%;
}

.Payments .Left_Part .Nights_in ul li div h5,
.Payments .Left_Part .Nights_in>p {
	font-size: 1.8rem;
	margin: 1% 0 0;
}

.Payments .Left_Part .Nights_in>p {
	margin-bottom: 3%;
}

.Payments .Left_Part>button {
	background: #f6416c;
	color: #fff;
	border: none;
	margin-top: 8%;
	padding: 1.5% 5%;
}

.Payments .Right_Part>div {
	border: 1px solid #f6416c;
	border-radius: 8px;
	padding: 25px 30px;
}

.Payments .Right_Part .title p {
	margin: 5% 0;
}

.Payments .Right_Part .title p,
.Payments .Right_Part .Cancellation p span,
.Payments .Right_Part .Cancellation p {
	font-size: 1.6rem;
}

.Payments .Right_Part .divxx img {
	width: 12px;
	margin-right: 5px;
	float: left;
}

.Payments .Right_Part .divxx span {
	float: left;
}

.Payments .Right_Part .divxx {
	overflow: hidden;
}

.Payments .Right_Part .title,
.Payments .Right_Part .time {
	border-bottom: 1px solid #f6416c;
	padding-bottom: 8%;
	margin: 0;
}

.Payments .Right_Part .title>div.Room {
	padding-right: 15px;
}

.Payments .Left_Part .Guests>div,
.Payments .Right_Part .title>div,
.Payments .Right_Part .time,
.Payments .Right_Part .Cancellation>div {
	padding: 0;
}

.Payments .Right_Part .time div {
	margin: 20px 0;
}

.Payments .Right_Part .time div img {
	width: 18px;
	float: left;
	margin-right: 8px;
}

.Payments .Right_Part .time div p {
	display: inline-block;
	margin: 0;
}

.Payments .Right_Part .Price>div {
	margin: 10px 0;
	clear: both;
}

.Payments .Right_Part .Price>div p b {
	font-family: RobotoBold;
	font-weight: bold;
}

.Payments .Right_Part .Price>div p,
.Payments .Right_Part .Price>div .Fees .LeftSpan {
	font-size: 1.8rem;
}

.Payments .Right_Part .Price>div span {
	display: inline-block;
	clear: both;
}

.Payments .Right_Part .Price {
	padding: 10px 0;
	border-bottom: 1px solid #f6416c;
}

.Payments .Right_Part .Cancellation {
	margin: 20px 0;
}

.Payments .Right_Part .Cancellation div {
	width: 100%;
}

.Payments .Right_Part .Cancellation .Room {
	padding: 0;
}

.Payments .Right_Part .Cancellation img {
	width: 40%;
	float: right;
}


/*Whos_coming*/

.Payments .Left_Part .Guests div.btn-group ul.dropdown-menu,
.Payments .Left_Part .Guests div .btn-group,
.Payments .Left_Part .Guests div .btn-group button {
	width: 70%;
	position: relative;
}

.Payments .Left_Part .Pay_with div .btn-group button,
.Payments .Left_Part .Guests div .btn-group button {
	border: 1px solid #cdcdcd;
	background: transparent;
}

.Payments .Left_Part .Pay_with div .btn-group button,
.Payments .Left_Part .Guests div .btn-group button,
.Payments .Left_Part .Pay_with div.btn-group ul.dropdown-menu li a,
.Payments .Left_Part .Guests div.btn-group ul.dropdown-menu li a {
	text-align: left;
}

.Payments .Left_Part .Pay_with div.btn-group ul.dropdown-menu li a,
.Payments .Left_Part .Guests div.btn-group ul.dropdown-menu li a {
	font-size: 1.6rem !important;
	padding: 2% 5% !important;
}

.Payments .Left_Part .ContactHost h4 {
	margin-bottom: 3px;
}

.Payments .Left_Part .ContactHost textarea {
	width: 100%;
	height: 100px;
	padding: 1% 3%;
	font-size: 1.4rem;
}

/*Confirm and Pay*/
.Payments .Left_Part .Pay_with{
	margin-bottom: 5%;
}
.Payments .Left_Part .Pay_with div.btn-group ul.dropdown-menu,
.Payments .Left_Part .Pay_with div .btn-group,
.Payments .Left_Part .Pay_with div .btn-group button {
	width: 100%;
	position: relative;
}
.Payments .Left_Part .Pay_with div{
	padding: 0;
}
.Payments .Left_Part .Pay_with input{
	width: 100%;
	padding: 2% 5%;
	border-radius:4px;
	border:1px solid #cdcdcd;
	margin: 0;
}

.Payments .Left_Part .Pay_with .GuestsDetail>div{
	width: 48%;
	margin: 2% 0;
}

.Payments .Left_Part .Pay_with .GuestsDetail label{
	margin: 1% 0 3%;
}

.Payments .Left_Part .Pay_with .GuestsDetail ul{
	transform:none !important;
	top:auto !important;
	max-height: 300px;
	overflow: auto;
}

.Payments .Left_Part p span{
	font-size: 1.6rem;
}

/*Cancellations*/

.CancellationsList {
	border: 1px solid #cdcdcd;
	border-radius: 8px;
	margin: 5% 0;
	overflow: hidden;
}

.CancellationsList ul.navList {
	width: 100%;
	padding-left: 3%;
	background: -webkit-linear-gradient(right, #161c4e, #f3426c);
	background: -o-linear-gradient(right, #161c4e, #f3426c);
	background: linear-gradient(to right, #161c4e, #f3426c);
}

.CancellationsList ul.navList li {
	color: #fff;
	display: inline-block;
	margin: 8px 20px;
	cursor: pointer;
}

.CancellationsList ul.navList li.active {
	border-bottom: 2px solid #fff;
}

.CancellationsList .List {
	margin: 5%;
}

.CancellationsList .List ul {
	margin: 3% 0;
}

.CancellationsList .List ul li {
	list-style: disc;
	margin-left: 20px;
}

.CancellationsList .List div p.textDAY {
	color: #fff;
	text-align: center;
	padding: 1% 0;
}

.CancellationsList .List div.box1 p.textDAY {
	background: -webkit-linear-gradient(right, #161c4e, #5d2958);
	background: -o-linear-gradient(right, #161c4e, #5d2958);
	background: linear-gradient(to right, #161c4e, #5d2958);
}

.CancellationsList .List div.box2 p.textDAY {
	background: -webkit-linear-gradient(right, #5d2958, #a33461);
	background: -o-linear-gradient(right, #5d2958, #a33461);
	background: linear-gradient(to right, #5d2958, #a33461);
}

.CancellationsList .List div.box3 p.textDAY {
	background: -webkit-linear-gradient(right, #a33461, #f3426c);
	background: -o-linear-gradient(right, #a33461, #f3426c);
	background: linear-gradient(to right, #a33461, #f3426c);
}

.CancellationsList .List div p.textTIME {
	margin-bottom: 20%;
	text-align: center;
}