.form__location1>div{
	position: relative;
}
.form__location1>div p{
	position: absolute;
	z-index:1;
	bottom: 6%;
	font-family: RobotoBold;
	font-weight: bold;
	left: 50%;
	transform: translateX(-50%);
	margin: 0 ;
}
.form__location1>div .disable{
	color:#c8cacb;
}
.form__location1>div .activeiconp{
	color: #f6416c;
}

.form__location1>div p span{
	width: 5px;
	height: 5px;
	background: #43424a;
	content: "";
	display: block;
	position: absolute;
	border-radius: 50%;
	top:50%;
	transform: translateY(-50%);
}

.form__location1>div p span.left{
	right: -20px;
}

.form__location1>div p span.right{
	left: -20px;
}
.form__location1>div .activeiconspan{
	background: #f6416c !important;
}
.form__location1>div .disablespan{
	background:#c8cacb;
}
.SearchBox {
	background: url(../images/index.png) no-repeat;
	background-size: 100%;
}

.SearchBody {
	background: #fff;
	border-radius: 8px;
	margin-top: 3%;
	box-shadow: 2px 0px 10px #888888;
	overflow: hidden;
}

.SearchBody>div {
	margin: 5%;
}

.SearchBottom {
	height: 8px;
	background: linear-gradient(to right, #e9406a, #2b2051);
	margin: 0;
}

.SearchBody .DateRangePickerInput_clearDates {
	left: 0px;
	transform: translateY(-60%);
}

.DateRangePickerInput_clearDates_svg {
	fill: #f6416c !important;
}


/*Filter*/

.Filter {
	padding: 14px 5%;
	background-color: #131c4e;
	color: #fff;
}

.Filter>ul {
	width: 1400px;
	max-width: 1400px !important;
	margin: 0 auto;
}

.Filter li {
	display: inline-block;
}

.Filter .tag__item a {
	color: #f6416c;
	text-decoration: none;
}

.Filter .tag__item.active a {
	color: #131c4e;
}

.Filter .tag__item {
	height: 30px;
	margin: 0 0.9%;
	cursor: pointer;
}

.Filter .tag__item:first-child {
	margin-left: 0;
	border: none;
}

.Filter .tag__item.active {
	background-color: #f6416c;
	border: 1px solid #f6416c;
}

.Filter .tag__item {
	text-align: center;
	padding: 2px 12px;
	border-width: 1px;
	border-style: solid;
	border-radius: 4px;
	position: relative;
	border:1px solid #fff;
}

.Filter .tag__item img {
	vertical-align: middle;
	width: 18px;
}

.Filter .tag__item span {
	vertical-align: middle;
	font-size: 1.6rem;
	display: inline-block;
	color:#fff;
}

.Filter .tag__item span.Strainerspan {
	width: 100%;
}

.filterbj {
	position: absolute;
	z-index: 9;
	left: 0%;
	top: 0%;
	width: 100%;
	height: 100%;
	background: #fff;
	opacity: 0.8;
}

.Filter .tag__item:last-child {
	position: initial;
}

.Filter .tag__item>div {
	width: 300px;
	position: absolute;
	top: 160%;
	left: 0;
	background: #fff;
	border-radius: 15px;
	background-size: 100% 100%;
	z-index: 999;
	color: #151b4e;
	padding: 20px;
	z-index: 100;
	box-shadow: 0px 0px 10px #888888;
}

.Filter .tag__item>div .operation {
	margin-bottom: 5%;
}

.Filter div.Strainer_City input {
	margin-bottom: 3%;
	width: 100%;
	height: 35px;
	padding: 0 3%;
	border: none;
	border-bottom: 1px solid #333;
	font-size: 16px;
}

.Filter div.Strainer_City h6 {
	color: #f6416c;
	text-align: left;
	font-size: 14px;
}

.Filter div.Strainer_City h6 span {
	font-size: 14px;
	color: #333;
}

.Filter .Strainer_Time b {
	display: inline-block;
	float: right;
	background: #fff;
	color: #f6416c;
	border-radius: 8px;
	font-size: 14px;
	padding: 4px;
}

.Filter .Strainer_Time b.glyphicon-search {
	float: left;
}

.Filter .Strainer_Time .DateRangePicker {
	height: 20px;
}

.Filter .Strainer_Time .DateRangePicker>div {
	height: 20px;
}

.Filter .Strainer_Time .DateInput {
	width: 100px;
	line-height: 0px;
	float: left;
}

.Filter .Strainer_Time .DateRangePickerInput_arrow {
	width: 20px;
	float: left;
}

.Filter .Strainer_Time .DateRangePickerInput_arrow_svg {
	width: 80%;
	height: 20px;
}

.Filter .Strainer_Time .DateRangePickerInput {
	height: 20px;
	padding: 0;
}

.Filter .Strainer_Time .DateInput_input {
	border-bottom: none;
	color: #fff;
}

.Filter .Strainer_Time .DateRangePicker_picker.DateRangePicker_picker_1.DateRangePicker_picker__directionLeft.DateRangePicker_picker__directionLeft_2 {
	z-index: 999;
}

.Filter div.Strainer_Guests ul {
	width: 100%;
}

.Filter div.Strainer_Guests ul li {
	width: 100%;
}

.Filter div.Strainer_Guests ul li p {
	padding: 0;
}

.Filter div.Strainer_Guests ul li p.text-left {
	font-size: 1.8rem;
}

.Filter div.Strainer_Guests ul li p>span.Left,
.Filter div.Strainer_Guests ul li p>span.Right,
.Filter div.Strainer_More .Bedroom ul li p>span.Left,
.Filter div.Strainer_More .Bedroom ul li p>span.Right {
	color: #f6416c;
	font-size: 2rem;
}

.Filter div.Strainer_Guests ul li p>span.text,
.Filter div.Strainer_More ul li p>span.text {
	font-size: 2rem;
	display: inline-block;
	text-align: center;
	width: 70%;
}

.Filter div.Strainer_Guests .operation,
.Filter div.Strainer_Home_Type .checkbox,
.Filter div.Strainer_Home_Type .operation,
.Filter div.Strainer_Price .operation,
.Filter div.Strainer_More .operation,
.Filter div.Strainer_More .options,
.Filter div.Strainer_More .checkbox,
.Filter div.Strainer_More .language>div {
	overflow: hidden;
}

.Filter div.Strainer_City .operation p,
.Filter div.Strainer_Guests .operation p,
.Filter div.Strainer_Home_Type .operation p,
.Filter div.Strainer_Price .operation p,
.Filter div.Strainer_More .operation p {
	font-size: 1.6rem;
	margin: 5% 0 0;
	cursor: pointer;
}

.Filter div.Strainer_Price p span {
	font-size: 1.8rem;
	margin-top: -1px;
	margin-right: 1%;
}

.Filter div.Strainer_Price p {
	font-size: 1.8rem;
}

.Filter div.Strainer_Price p,
.Filter div.Strainer_Price .tokenbj {
	text-align: left;
}

.Filter div.Strainer_Price .tokenbj {
	margin: 8% 5% 0;
}

.Filter div.Strainer_Price .tokenbj p {
	width: 6px;
	display: inline-block;
	background: rgba(118, 118, 118, 0.5);
	margin: 0;
}

.tag__item span {
	top: 30%;
}

.Filter div.Strainer_Price .input-range__slider {
	width: 15px;
	height: 15px;
	background: #ef438d;
	border: 1px solid #ef438d;
}

.Filter div.Strainer_Price .input-range__track {
	height: 0.4em;
}

.Filter div.Strainer_Price .input-range__track--active {
	background: #ef438d;
}

.Filter div.Strainer_Price .input-range__label {
	display: none;
}

.Filter div.Strainer_Price p.text1 {
	margin: 0 3%;
}

.Filter div.Strainer_Price .input-range {
	width: 80%;
	margin: 0 auto;
	position: absolute;
	margin-top: 3%;
	left: 50%;
	transform: translate(-50%, 0);
}

.Filter div.Strainer_Price .input-range__track--background {
	background: #d2d2d2;
}

.Filter div.Strainer_Home_Type .operation,
.Filter div.Strainer_Price .operation {
	margin-top: 30px;
}

.Filter div.Strainer_Home_Type .checkbox .divinput {
	text-align: left;
	padding-left: 5%;
	width: 90%;
	float: right;
}

.Filter div.Strainer_Home_Type .checkbox {
	margin-bottom: 5% !important;
}

.Filter div.Strainer_Home_Type .checkbox .divinput p {
	margin-bottom: 0;
	font-size: 1.6rem;
}

.Filter div.Strainer_Home_Type .checkbox .divinput p.text {
	font-size: 12px;
}

.Filter div.Strainer_Home_Type p span {
	color: #000;
	font-size: 14px;
	float: left;
}

.Filter .tag__item>.Filter div.Strainer_More {
	position: fixed;
	width: 50%;
	height: 98%;
	top: 50%;
	left: auto;
	right: 10px;
	transform: translate(0, -50%);
	padding: 1%;
	overflow: auto;
}

.Filter div.Strainer_More>div {
	width: 100%;
}

.Filter div.Strainer_More .Bedroom,
.Filter div.Strainer_More .options,
.Filter div.Strainer_More .Flashover,
.Filter div.Strainer_More .language {
	width: 96%;
	border-bottom: 1px solid #484848;
	margin: 0 2%;
	padding: 5% 0;
}

.Filter div.Strainer_More>.Filter div.Bedroom>ul {
	margin-bottom: 0;
}

.Filter div.Strainer_More>.Filter div.Bedroom>ul li {
	height: 30px;
	line-height: 30px;
}

.Filter div.Strainer_More>.Filter div.Bedroom>ul li p.text-left {
	font-size: 1.6rem;
	padding: 0;
}

.Filter div.Strainer_More>.Filter div.Bedroom>h6,
.Filter div.Strainer_More .options>h6,
.Filter div.Strainer_More .Flashover h6,
.Filter div.Strainer_More .language h6 {
	text-align: left;
	font-size: 1.6rem;
	margin: 0;
	margin-bottom: 3%;
}

.Filter div.Strainer_More .Bedroom ul li p.text-right {
	padding-left: 18%;
}

.Filter div.Strainer_More .options>div {
	width: 80%;
	float: left;
	text-align: left;
}

.Filter div.Strainer_More .options>div p {
	font-size: 1.6rem;
	margin-bottom: 0;
}

.Filter div.Strainer_More .optionsclose {
	float: right;
	width: 50px;
	height: 30px;
	line-height: 30px;
	border-radius: 20px;
	border: 1px solid #f6416c;
	position: relative;
	background: #f5f5f5;
	margin-left: 5%;
}

.Filter div.Strainer_More .optionsclose1 {
	margin-top: 18%;
}

.Filter div.Strainer_More .optionsclose span {
	width: 28px;
	height: 28px;
	line-height: 22px;
	text-align: center;
	background: #fff;
	border-radius: 50%;
	position: absolute;
	top: 0;
	left: -1px;
	border: 1px solid #f6416c;
	font-size: 1.6rem;
}

.Filter div.Strainer_More .optionsclose span img {
	width: 55%;
	margin-top: 10%;
}

.Filter div.Strainer_More .optionsActive {
	background: #f6416c;
}

.Filter div.Strainer_More .optionsActivespan {
	left: auto !important;
	right: -1px;
}

.Filter div.Strainer_More .options>div p.Understand {
	margin-bottom: 3%;
}

.Filter div.Strainer_More .language .checkbox .divinput {
	width: auto;
	margin-left: 3%;
	float: left;
}

.Filter div.Strainer_More .language>div {
	/*max-height: 60px;*/
}

.Filter div.Strainer_More .language .checkbox {
	height: auto;
	margin-bottom: 0 !important;
	padding: 0;
}

.Filter div.Strainer_More .language>p {
	text-align: left;
	margin-top: 5%;
	font-size: 1.6rem;
}

.Filter div.Strainer_More .foot {
	width: 96%;
	text-align: right;
	margin: 5% 2%;
}

.Filter div.Strainer_More .foot span {
	margin-right: 5%;
}

.Filter div.Strainer_More .foot button {
	background: #f6416c;
	color: #fff;
	border: 0;
	padding: 1% 3%;
	font-size: 1.8rem;
}

.Filter div.Helpbox {
	width: 86%;
	text-align: center;
	margin: 5% auto;
}

.Filter div.Helpbox h1 {
	font-size: 2.4rem;
}

.Filter div.Helpbox h3 {
	color: #ef438d;
	text-align: left;
	font-size: 2rem;
	font-family: RobotoBold;
	font-weight: bold;
	margin: 2% auto;
}

.Filter div.Helpbox .step1 img {
	width: 90%;
}

.Filter div.Helpbox .step2 img {
	width: 90%;
}