/* tablet content */
/* end of tablet content */
* {
  box-sizing: border-box; }

html {
  font-size: 10px;
  color: #fff;
  font-family: Calibri, "PT Sans", "Helvetica Neue", "Open Sans", Helvetica, Arial, sans-serif; }

body {
  min-width: 1024px; }

.m-display,
.road-map-m {
  display: none; }

.title, .title__1, .title__2, .title__3, .title__4 {
  font-family: "Helvetica Rounded CondensedBd", "Helvetica Neue", Helvetica, Arial, sans-serif; }
  .title.hint, .hint.title__1, .hint.title__2, .hint.title__3, .hint.title__4 {
    color: #f5426c; }
  .title.top-title, .top-title.title__1, .top-title.title__2, .top-title.title__3, .top-title.title__4 {
    position: absolute;
    top: 15%;
    text-align: center;
    width: 100%;
    z-index: 1; }
  .title__1 {
    font-size: 5.0rem; }
  .title__2 {
    font-size: 4.0rem; }
  .title__3 {
    font-size: 3.0rem; }
  .title__4 {
    display: block;
    font-size: 2.4rem; }

h1,
h2,
h3,
h4 {
  margin-top: 0; }

h4 {
  font-size: 2.4rem; }

label {
  font-size: 2.0rem; }

p {
  line-height: 1.6em; }

a,
p {
  font-size: 1.6rem; }

span {
  font-size: 1.2rem; }

ul {
  list-style: none;
  padding-left: 0; }

input,
textarea {
  padding: 6px 12px;
  border: 0;
  font-size: 1.4rem; }

input {
  min-height: 40px;
  line-height: 28px; }

textarea {
  padding: 12px; }

button {
  font-size: 1.4rem;
  min-height: 40px;
  background-color: #f5426c;
  border: 0;
  border-radius: 4px;
  cursor: pointer; }

.container {
  max-width: 960px; }

.section {
  background-color: #151b4e; }

.opacity-7 {
  opacity: 0.7; }

.error-msg::-webkit-input-placeholder {
  font-weight: 700;
  color: #f00 !important; }

.error-msg:-moz-placeholder {
  font-weight: 700;
  color: #f00 !important; }

.error-msg::-moz-placeholder {
  font-weight: 700;
  color: #f00 !important; }

.error-msg:-ms-input-placeholder {
  font-weight: 700;
  color: #f00 !important; }

/* modal style */
.wechat-modal img {
  width: 100%; }

.video-modal {
  max-width: 854px;
  padding: 0;
  border-radius: 0; }

.video-modal:before {
  content: "";
  display: block;
  padding-top: 56.3%; }

.video-modal iframe,
.video {
  position: absolute;
  top: 0;
  width: 100%;
  margin: auto; }

.blocker {
  z-index: 100; }

.subscribe-modal,
.contact-modal {
  text-align: center; }
  .subscribe-modal .title__3,
  .contact-modal .title__3 {
    display: none;
    color: #f5426c; }
  .subscribe-modal .modal-loading,
  .contact-modal .modal-loading {
    display: block;
    margin: 0; }
  .subscribe-modal .success-text,
  .contact-modal .success-text {
    display: none;
    color: #151b4e;
    margin-bottom: 0; }
  .subscribe-modal .error-text,
  .contact-modal .error-text {
    display: none;
    color: red; }
  .subscribe-modal.error .error-text, .subscribe-modal.success .title__3, .subscribe-modal.success .success-text,
  .contact-modal.error .error-text,
  .contact-modal.success .title__3,
  .contact-modal.success .success-text {
    display: block; }
  .subscribe-modal.error .modal-loading, .subscribe-modal.success .modal-loading,
  .contact-modal.error .modal-loading,
  .contact-modal.success .modal-loading {
    display: none; }

.contact-modal .success-text {
  margin-bottom: 16px; }

/* end of modal style */
/* Overwrite fullpage.js */
#fp-nav ul li .fp-tooltip {
  font-family: "Helvetica Rounded CondensedBd", "Helvetica Neue", Helvetica, Arial, sans-serif; }

.fp-slidesNav ul li:hover a span,
.fp-slidesNav ul li a.active span,
.fp-slidesNav ul li:hover a.active span,
#fp-nav ul li:hover a span,
#fp-nav ul li:hover a.active span,
#fp-nav ul li a.active span,
#fp-nav ul li a span {
  margin: -5px 0 0 -5px;
  width: 12px;
  height: 12px;
  background-color: #fff;
  opacity: 0.5; }

.fp-slidesNav ul li a.active span,
.fp-slidesNav ul li:hover a.active span,
#fp-nav ul li:hover a.active span,
#fp-nav ul li a.active span {
  opacity: 1; }

#fp-nav ul li .fp-tooltip {
  font-size: 12px; }

/* end of Overwrite fullpage.js */
/* other component */
.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px; }

.no-gutters {
  margin-right: 0;
  margin-left: 0; }

.no-gutters > .col,
.no-gutters > [class*="col-"] {
  padding-right: 0;
  padding-left: 0; }

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12,
.col,
.col-auto,
.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm,
.col-sm-auto,
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md,
.col-md-auto,
.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg,
.col-lg-auto,
.col-xl-1,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl,
.col-xl-auto {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

.col {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%; }

.col-auto {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: auto;
  max-width: none; }

.col-1 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 8.333333%;
  flex: 0 0 8.333333%;
  max-width: 8.333333%; }

.col-2 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 16.666667%;
  flex: 0 0 16.666667%;
  max-width: 16.666667%; }

.col-3 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%; }

.col-4 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 33.333333%;
  flex: 0 0 33.333333%;
  max-width: 33.333333%; }

.col-5 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 41.666667%;
  flex: 0 0 41.666667%;
  max-width: 41.666667%; }

.col-6 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%; }

.col-7 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 58.333333%;
  flex: 0 0 58.333333%;
  max-width: 58.333333%; }

.col-8 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 66.666667%;
  flex: 0 0 66.666667%;
  max-width: 66.666667%; }

.col-9 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 75%;
  flex: 0 0 75%;
  max-width: 75%; }

.col-10 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 83.333333%;
  flex: 0 0 83.333333%;
  max-width: 83.333333%; }

.col-11 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 91.666667%;
  flex: 0 0 91.666667%;
  max-width: 91.666667%; }

.col-12 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%; }

.order-first {
  -webkit-box-ordinal-group: 0;
  -ms-flex-order: -1;
  order: -1; }

.order-last {
  -webkit-box-ordinal-group: 14;
  -ms-flex-order: 13;
  order: 13; }

.order-0 {
  -webkit-box-ordinal-group: 1;
  -ms-flex-order: 0;
  order: 0; }

.order-1 {
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1; }

.order-2 {
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2; }

.order-3 {
  -webkit-box-ordinal-group: 4;
  -ms-flex-order: 3;
  order: 3; }

.order-4 {
  -webkit-box-ordinal-group: 5;
  -ms-flex-order: 4;
  order: 4; }

.order-5 {
  -webkit-box-ordinal-group: 6;
  -ms-flex-order: 5;
  order: 5; }

.order-6 {
  -webkit-box-ordinal-group: 7;
  -ms-flex-order: 6;
  order: 6; }

.order-7 {
  -webkit-box-ordinal-group: 8;
  -ms-flex-order: 7;
  order: 7; }

.order-8 {
  -webkit-box-ordinal-group: 9;
  -ms-flex-order: 8;
  order: 8; }

.order-9 {
  -webkit-box-ordinal-group: 10;
  -ms-flex-order: 9;
  order: 9; }

.order-10 {
  -webkit-box-ordinal-group: 11;
  -ms-flex-order: 10;
  order: 10; }

.order-11 {
  -webkit-box-ordinal-group: 12;
  -ms-flex-order: 11;
  order: 11; }

.order-12 {
  -webkit-box-ordinal-group: 13;
  -ms-flex-order: 12;
  order: 12; }

.offset-1 {
  margin-left: 8.333333%; }

.offset-2 {
  margin-left: 16.666667%; }

.offset-3 {
  margin-left: 25%; }

.offset-4 {
  margin-left: 33.333333%; }

.offset-5 {
  margin-left: 41.666667%; }

.offset-6 {
  margin-left: 50%; }

.offset-7 {
  margin-left: 58.333333%; }

.offset-8 {
  margin-left: 66.666667%; }

.offset-9 {
  margin-left: 75%; }

.offset-10 {
  margin-left: 83.333333%; }

.offset-11 {
  margin-left: 91.666667%; }

/* dot */
.top-dot__container {
  position: absolute;
  top: 0;
  margin-top: 20px;
  width: 100%;
  z-index: 1; }
  .top-dot__container * {
    margin: auto; }
  .top-dot__container .dot {
    margin-bottom: 3px; }

.dot {
  display: block;
  width: 6px;
  height: 6px;
  background-color: #f5426c;
  border-radius: 50%; }

.outline-dot--lg, .outline-dot--s {
  text-align: center;
  display: block;
  border-style: solid;
  border-radius: 50%;
  background-color: #151b4e; }

.outline-dot--lg:before, .outline-dot--s:before {
  content: "";
  display: inline-block;
  border-radius: 50%; }

.outline-dot--lg {
  margin-bottom: 7px;
  width: 30px;
  height: 30px;
  border-width: 2px;
  border-color: #f5426c; }
  .outline-dot--lg:before {
    margin: 6px;
    width: 14px;
    height: 14px;
    background-color: #f5426c; }
.outline-dot--s {
  border-width: 1px;
  width: 20px;
  height: 20px; }
  .outline-dot--s:before {
    margin: 4px;
    width: 10px;
    height: 10px;
    background-color: #fff; }

/* end of dot */
/* social icon */
.social li,
.social a {
  display: inline-block; }
.social__icon {
  width: 26px; }
.social__icon:before {
  content: "";
  display: block;
  padding-top: 100%;
  width: 100%;
  background-size: 100% auto;
  background-repeat: no-repeat; }
.social__facebook:before {
  background-image: url(../images/facebook.png); }
.social__youtube:before {
  background-image: url(../images/youtube.png); }
.social__ins:before {
  background-image: url(../images/ins.png); }
.social__telegram:before {
  background-image: url(../images/telegram.png); }
.social__twitter:before {
  background-image: url(../images/twitter.png); }
.social__reddit:before {
  background-image: url(../images/reddit.png); }
.social__wechat:before {
  background-image: url(../images/wechat.png); }
.social__weibo:before {
  background-image: url(../images/weibo.png); }

/* end of social icon */
/* loading */
.loading {
  text-align: center;
  position: fixed;
  width: 100%;
  height: 100%;
  background: #151b4e;
  z-index: 200; }

.loading.hidden {
  display: none !important; }

.spinner {
  width: 40px;
  height: 40px;
  position: relative;
  top: 50%;
  margin: 20px auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #f5426c;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out; }

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s; }

@-webkit-keyframes sk-bounce {
  0%, 100% {
    -webkit-transform: scale(0); }
  50% {
    -webkit-transform: scale(1); } }
@keyframes sk-bounce {
  0%, 100% {
    transform: scale(0);
    -webkit-transform: scale(0); }
  50% {
    transform: scale(1);
    -webkit-transform: scale(1); } }
/* end of loading */
/* end of other component */
/* page */
/* section 1 */
.s0__bg-points,
.s1__bg-points,
.s7__bg-points,
.s8__bg-points,
.s10__bg-points, .s0__logo, .s1__bg-image, .s1__container, .s2__bg-image, .s2__content, .s9__bg-cover,
.s10__bg-cover,
.s11__bg-cover,
.s12__bg-cover, .s11__bg {
  position: absolute;
  top: 50%;
  bottom: 0;
  left: 0;
  right: 0; }

.s0__bg-points,
.s1__bg-points,
.s7__bg-points,
.s8__bg-points,
.s10__bg-points {
  top: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom right; }

.s0__lang {
  text-align: right;
  position: absolute;
  top: 0;
  left: 20%;
  right: 20%;
  padding: 30px 0;
  margin: 20px 0;
  color: #f5426c;
  z-index: 2; }
.s0__lang a, .s0__lang span {
  color: inherit;
  text-decoration: none;
  font-size: 1.4rem; }
.s0__bg-points {
  background-image: url(../images/1-bg.png);
  background-position: center 15%; }
.s0__logo {
  top: 0;
  left: 50%;
  bottom: auto;
  text-align: center;
  margin: 20px 0;
  width: 70px;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%); }
.s0__logo:before {
  content: "";
  display: inline-block;
  padding-top: 140%;
  width: 100%;
  background-image: url(../images/1-header-logo.png);
  background-size: 100% auto;
  background-repeat: no-repeat; }
.s0__content {
  position: relative;
  top: 7%;
  max-width: 750px;
  margin: auto;
  z-index: 1; }
  .s0__content p {
    width: 55%;
    margin: 0; }
  .s0__content p ~ p {
    width: 52%; }
  .s0__content .social,
  .s0__content .s0__dots,
  .s0__content .dot {
    vertical-align: middle;
    display: inline-block;
    margin: 0; }
  .s0__content .social li {
    margin: 0 3px; }
  .s0__content .s0__dots {
    margin: 0 10px; }
  .s0__content .dot {
    margin: 0 2px; }
  .s0__content .title__4 {
    text-align: left;
    display: inline-block;
    margin-bottom: 0;
    max-width: 70px; }
  .s0__content .title__4.zh {
    max-width: 80px; }
  .s0__content .title__4.zh ~ hr {
    margin-left: -30px; }
.s0__title {
  width: 50%; }
.s0__title:before {
  content: "";
  display: block;
  padding-top: 21.5%;
  width: 100%;
  background-image: url(../images/1-populstay.png);
  background-size: 100% auto;
  background-repeat: no-repeat; }
.s0__links {
  margin: 20px 0; }
.s0__link {
  color: #fff; }
.s0__web-link {
  display: inline-block;
  padding: 6px 12px;
  color: #151b4e;
  background-color: #f5426c;
  text-decoration: none;
  font-weight: bold;
  border-radius: 4px; }
  .s0__web-link img {
    vertical-align: middle;
    width: 20px; }
  .s0__web-link span {
    vertical-align: middle; }
.s0__benifits {
  padding: 24px 0; }
.s0__benifits li {
  text-align: center;
  position: relative;
  vertical-align: top;
  display: inline-block; }
  .s0__benifits li hr {
    vertical-align: middle;
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
    width: 100px; }
  .s0__benifits li label {
    max-width: 140px;
    display: block;
    margin: 20px auto 10px;
    font-size: 1.4rem;
    font-family: "Helvetica Rounded CondensedBd", "Helvetica Neue", Helvetica, Arial, sans-serif; }
  .s0__benifits li > div {
    -webkit-transform: translateX(-30%);
    -moz-transform: translateX(-30%);
    -o-transform: translateX(-30%);
    -ms-transform: translateX(-30%);
    transform: translateX(-30%); }
  .s0__benifits li .outline-dot--s {
    position: absolute;
    top: 10px;
    right: 50px; }
.s0__benifits-1 {
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }
  .s0__benifits-1 i.outline-dot--s {
    top: auto;
    bottom: -4px; }
.s0__benifit-3 hr {
  margin-left: -10px; }
.s0__benifit-3 i.outline-dot--s {
  top: 14px; }
.s0__benifit-4 hr {
  margin-left: -24px; }
.s0__benifit-4 i.s0__benifit-4-2 {
  right: 0; }
.s0__nomiddleman, .s0__data, .s0__organize, .s0__benifit-logo {
  vertical-align: middle;
  display: inline-block;
  width: 60px; }
.s0__nomiddleman:before, .s0__data:before, .s0__organize:before, .s0__benifit-logo:before {
  content: "";
  display: block;
  width: 100%;
  background-size: 100% auto;
  background-repeat: no-repeat; }
.s0__nomiddleman:before {
  padding-top: 62.5%;
  background-image: url(../images/1-nomiddleman.png); }
.s0__data:before {
  padding-top: 72.5%;
  background-image: url(../images/1-data.png); }
.s0__organize:before {
  padding-top: 65.5%;
  background-image: url(../images/1-organize.png); }
.s0__benifit-logo {
  margin-left: 10px;
  -webkit-transform: translateY(-15%);
  -moz-transform: translateY(-15%);
  -o-transform: translateY(-15%);
  -ms-transform: translateY(-15%);
  transform: translateY(-15%); }
.s0__benifit-logo:before {
  padding-top: 144%;
  background-image: url(../images/logo.png); }

.s1__bg-image {
  top: 25%;
  width: 70%;
  min-width: 960px;
  margin: auto;
  background-image: url(../images/2-bg-image.png);
  background-repeat: no-repeat;
  background-size: 100% auto; }
.s1__container {
  max-width: 960px;
  margin: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }
.s1__people {
  position: absolute;
  right: 0;
  max-width: 228px; }
.s1__content {
  position: absolute;
  left: 0;
  right: 0;
  padding: 30px 0;
  margin: auto;
  max-width: 500px; }
.s1__link {
  display: inline-block;
  margin-top: 50px;
  max-width: 80px;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%); }
  .s1__link img {
    width: 100%; }

/* end of section 1 */
/* section 2 */
.s2__bg {
  position: absolute;
  top: 15%;
  width: 95%;
  padding-top: 220%;
  background-image: url(../images/bg-3-4-5.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  z-index: 1; }
.s2__bg-circle {
  position: absolute;
  top: 50%;
  left: 40%;
  right: 0;
  padding-top: 175%;
  background-size: 100% auto;
  background-repeat: no-repeat;
  z-index: 1;
  opacity: 0.3; }
.s2__bg-image {
  top: 40%;
  left: 50%;
  right: 0;
  width: 40%;
  max-width: 500px;
  -webkit-transform: translateX(-80%);
  -moz-transform: translateX(-80%);
  -o-transform: translateX(-80%);
  -ms-transform: translateX(-80%);
  transform: translateX(-80%); }
.s2__content {
  bottom: auto;
  max-width: 600px;
  margin: auto;
  z-index: 2;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }
  .s2__content .title__2 {
    position: relative;
    left: 50%;
    margin-top: 50px; }
.s2__hint {
  position: relative;
  left: 50%;
  padding: 10px 20px;
  border: 3px solid #f5426c;
  background-color: #151b4e; }

/* end of section 2 */
/* section 3 */
.s3__content {
  position: relative;
  max-width: 800px;
  margin: auto;
  z-index: 1; }
.s3__bg-image {
  position: relative;
  left: 50%;
  max-width: 380px; }
.s3__text {
  text-align: right;
  position: absolute;
  top: 0;
  left: 10%;
  width: 50%; }
  .s3__text h1 {
    margin: 0; }
  .s3__text p {
    max-width: 370px; }

/* end of section 3 */
/* section 4 */
.s4__content {
  position: relative;
  max-width: 800px;
  margin: auto;
  z-index: 1; }
  .s4__content h2 {
    margin: 0; }
  .s4__content h3 {
    margin: 10px 0 5px; }
  .s4__content img {
    width: 100%;
    max-width: 180px; }
.s4__content .col-4 {
  -webkit-transform: translateY(-15%);
  -moz-transform: translateY(-15%);
  -o-transform: translateY(-15%);
  -ms-transform: translateY(-15%);
  transform: translateY(-15%); }

/* end of section 4 */
/* section 5 */
.s5__content {
  position: relative;
  max-width: 800px;
  margin: auto;
  z-index: 1; }
  .s5__content h2,
  .s5__content h4 {
    margin: 0; }
  .s5__content h4 {
    -webkit-transform: translateY(12px);
    -moz-transform: translateY(12px);
    -o-transform: translateY(12px);
    -ms-transform: translateY(12px);
    transform: translateY(12px); }
  .s5__content img {
    width: 100%; }
  .s5__content hr {
    display: inline-block;
    margin-top: 30px;
    margin-bottom: 10px;
    border-top: 6px solid #fff;
    width: 50px; }
  .s5__content a.col-8 {
    display: block;
    cursor: pointer; }
  .s5__content .col-8:before {
    content: "";
    display: block;
    width: 100%;
    padding-top: 55%;
    background-image: url(../images/6-video-cover.png);
    background-size: 100% auto;
    background-repeat: no-repeat;
    cursor: pointer; }
  .s5__content .col-4 {
    text-align: right;
    position: absolute;
    padding-right: 100px;
    max-width: 480px; }

/* end of section 5 */
/* section 6 */
.s6__content {
  text-align: center;
  max-width: 800px;
  margin: auto;
  font-weight: lighter; }
  .s6__content h3 {
    margin-bottom: 10px; }
  .s6__content h4 {
    font-weight: inherit;
    margin-bottom: 20px; }
  .s6__content .col-4 {
    margin-bottom: 20px; }
.s6__path {
  padding: 0; }
.s6__path:before {
  content: "";
  display: block;
  width: 100%;
  padding-top: 17%;
  background-image: url(../images/7-line.png);
  background-size: 100% auto;
  background-repeat: no-repeat; }
.s6__icon {
  display: block;
  width: 100%;
  padding-top: 100%;
  margin-bottom: 10px;
  background-size: 100% auto;
  background-repeat: no-repeat; }
.s6__1-img {
  background-image: url("../images/7-service-1.png"); }
.s6__2-img {
  background-image: url("../images/7-service-2.png"); }
.s6__3-img {
  background-image: url("../images/7-service-3.png"); }
.s6__4-img {
  background-image: url("../images/7-service-4.png"); }
.s6__5-img {
  background-image: url("../images/7-service-5.png"); }
.s6__6-img {
  background-image: url("../images/7-service-6.png"); }
.s6__7-img {
  background-image: url("../images/7-service-7.png"); }
.s6__8-img {
  background-image: url("../images/7-service-8.png"); }
.s6__9-img {
  background-image: url("../images/7-service-9.png"); }
.s6__10-img {
  background-image: url("../images/7-service-10.png"); }
.s6__11-img {
  background-image: url("../images/7-service-11.png"); }
.s6__12-img {
  background-image: url("../images/7-service-12.png"); }
.s6__13-img {
  background-image: url("../images/7-service-13.png"); }

/* end of section 6 */
/* section 7 */
.s7__bg-points {
  background-image: url(../images/8-bg.png); }
.s7__content {
  text-align: center;
  max-width: 960px;
  margin: auto; }
  .s7__content .title__4 {
    padding: 6px 12px;
    margin: 30px auto 10px;
    max-width: 200px;
    background-color: #f5426c;
    border-radius: 4px; }
  .s7__content a {
    text-decoration: none;
    cursor: pointer; }
  .s7__content label {
    color: #fff;
    cursor: pointer; }
.s7__avatar {
  position: relative;
  margin: auto;
  width: 150px; }
  .s7__avatar .linkedin-hover-div {
    position: absolute;
    top: 2px;
    bottom: 2px;
    left: 2px;
    right: 2px;
    width: 100%;
    background: url(../images/in.png) no-repeat center;
    background-color: rgba(245, 66, 108, 0.3);
    border-radius: 50%;
    opacity: 0;
    -webkit-transition: opacity ease-in-out 0.3s;
    -moz-transition: opacity ease-in-out 0.3s;
    -o-transition: opacity ease-in-out 0.3s;
    -ms-transition: opacity ease-in-out 0.3s;
    transition: opacity ease-in-out 0.3s;
    -webkit-backface-visibility: hidden; }
.s7__avatar:before {
  content: "";
  display: block;
  width: 100%;
  padding-top: 100%;
  border: 2px solid #f5426c;
  background-size: 100% auto;
  background-repeat: no-repeat;
  border-radius: 50%; }
.s7__avatar:hover .linkedin-hover-div {
  opacity: 1; }
.s7__1:before {
  background-image: url(../images/8-avatar-1.png); }
.s7__2:before {
  background-image: url(../images/8-avatar-2.png); }
.s7__3:before {
  background-image: url(../images/8-avatar-3.png); }

/* end of section 7 */
/* section 8 */
.s8__bg-points {
  background-image: url(../images/9-bg.png);
  background-position: center;
  background-size: 100% 100%; }
.s8__content {
  position: relative;
  margin: auto;
  max-width: 960px; }
  .s8__content a {
    display: block;
    font-size: 0; }
  .s8__content .row {
    position: absolute;
    top: 46%;
    left: 50%;
    width: 70%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
  .s8__content .col-4 {
    padding: 0 30px; }
  .s8__content li {
    margin-bottom: 20px; }
  .s8__content img {
    width: 100%; }
.s8__content:before {
  content: "";
  display: inline-block;
  width: 100%;
  padding-top: 42%;
  background-image: url(../images/9-banner.png);
  background-size: 100% auto; }
.s8__top-offset-1 {
  margin-top: 40%; }

/* end of section 8 */
.s9__bg-cover,
.s10__bg-cover,
.s11__bg-cover,
.s12__bg-cover {
  top: 0;
  margin: auto;
  max-width: 800px;
  background-color: #fff;
  opacity: 0.1;
  -webkit-filter: blur(3px);
  -moz-filter: blur(3px);
  -o-filter: blur(3px);
  -ms-filter: blur(3px);
  filter: blur(3px); }

/* section 9 */
.s9 {
  padding: 20px 0;
  margin: auto;
  max-width: 800px;
  font-size: 1.2rem; }
  .s9 li {
    line-height: 1.5em; }
  .s9 h3,
  .s9 .title__2,
  .s9 .outline-dot--lg,
  .s9 .dot {
    vertical-align: middle;
    display: inline-block;
    margin-bottom: 0; }
  .s9 .dot {
    position: absolute;
    margin-top: 7px;
    width: 20px;
    height: 20px;
    border: 3px solid #151b4e;
    border-radius: 50%; }
  .s9 .col-6 {
    position: relative;
    margin-bottom: 20px; }
  .s9__bg-cover {
    top: 60%;
    background: -moz-linear-gradient(top, transparent 0%, rgba(255, 255, 255, 0.7) 40%, #fff 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, transparent), color-stop(40%, rgba(255, 255, 255, 0.7)), color-stop(100%, #fff));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, transparent 0%, rgba(255, 255, 255, 0.7) 40%, #fff 100%);
    /* Chrome10+,Safari5.1+ */
    background: -ms-linear-gradient(top, transparent 0%, rgba(255, 255, 255, 0.7) 40%, #fff 100%);
    /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='transparent', endColorstr='#fff',GradientType=0 );
    /* IE6-9 */
    background: linear-gradient(top, transparent 0%, rgba(255, 255, 255, 0.7) 40%, #fff 100%);
    /* W3C */ }
  .s9 .left {
    text-align: right; }
    .s9 .left ul {
      text-align: left; }
  .s9 .left-1 {
    margin-top: -394px; }
    .s9 .left-1.zh {
      margin-top: -315px; }
  .s9 .left-2 {
    margin-top: -104px; }
    .s9 .left-2.zh {
      margin-top: -124px; }
  .s9 .left-3 {
    margin-top: -46px; }
    .s9 .left-3.zh {
      margin-top: -95px; }
  .s9 .right-1 {
    padding-top: 20px;
    margin-top: -24px; }
  .s9 .right-2 {
    padding-top: 10px;
    margin-top: -114px; }
    .s9 .right-2.zh {
      margin-top: -62px;
      padding-top: 0px; }
  .s9 .left-1 h3,
  .s9 .left-2 h3,
  .s9 .left-3 h3 {
    padding-right: 20px; }
  .s9 .left-1 .dot,
  .s9 .left-2 .dot,
  .s9 .left-3 .dot {
    right: 0;
    -webkit-transform: translateX(13px);
    -moz-transform: translateX(13px);
    -o-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px); }
  .s9 .right-0 .outline-dot--lg {
    left: 0;
    -webkit-transform: translateX(-27px);
    -moz-transform: translateX(-27px);
    -o-transform: translateX(-27px);
    -ms-transform: translateX(-27px);
    transform: translateX(-27px); }
  .s9 .right-1,
  .s9 .right-2 {
    padding-left: 30px;
    border-left: 6px dotted #f5426c; }
    .s9 .right-1 .dot,
    .s9 .right-2 .dot {
      left: 0;
      -webkit-transform: translateX(-13px);
      -moz-transform: translateX(-13px);
      -o-transform: translateX(-13px);
      -ms-transform: translateX(-13px);
      transform: translateX(-13px); }

/* end of section 9 */
/* section 10 */
.s10__bg-points {
  background-image: url(../images/11-bg-image.png);
  background-size: 100%;
  background-position: center; }
.s10__content {
  position: relative;
  text-align: center;
  margin: auto;
  max-width: 850px;
  z-index: 2; }
  .s10__content hr {
    display: inline-block;
    margin-bottom: 35px;
    border-top: 6px solid;
    border-color: #f5426c;
    width: 50px; }
.s10__form-group {
  text-align: right;
  position: relative;
  padding: 6px 0;
  margin: auto;
  max-width: 500px;
  min-height: 52px;
  background-color: #fff;
  border-radius: 100px; }
  .s10__form-group button {
    margin-right: 7px;
    width: 110px;
    height: 100%;
    color: #fff;
    border-radius: inherit;
    font-family: "Helvetica Rounded CondensedBd", "Helvetica Neue", Helvetica, Arial, sans-serif; }
.s10__input {
  position: absolute;
  display: inline-block;
  left: 0;
  right: 124px;
  border-radius: 100px;
  overflow: hidden; }
  .s10__input input {
    width: 100%; }

/* end of section 10 */
/* section 11*/
.s11__bg {
  top: 0;
  bottom: auto;
  padding-top: 140%;
  background-image: url(../images/bg-12-13.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  z-index: 1; }
.s11__form {
  position: relative;
  margin: auto;
  max-width: 800px;
  z-index: 1; }
  .s11__form label {
    display: block;
    padding-bottom: 20px;
    color: #f5426c; }
  .s11__form input,
  .s11__form textarea {
    margin-top: 10px;
    width: 100%;
    resize: none; }
  .s11__form button {
    float: right;
    margin-top: 20px;
    width: 120px;
    font-size: 1.6rem;
    font-weight: bold;
    border-radius: 0;
    font-family: "Helvetica Rounded CondensedBd", "Helvetica Neue", Helvetica, Arial, sans-serif; }

/* end of section 11*/
/* section 12 */
.s12__bg-cover {
  bottom: 30%;
  z-index: 1;
  background: -moz-linear-gradient(top, #fff 0%, rgba(255, 255, 255, 0.7) 40%, transparent 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fff), color-stop(40%, rgba(255, 255, 255, 0.7)), color-stop(100%, transparent));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #fff 0%, rgba(255, 255, 255, 0.7) 40%, transparent 100%);
  /* Chrome10+,Safari5.1+ */
  background: -ms-linear-gradient(top, #fff 0%, rgba(255, 255, 255, 0.7) 40%, transparent 100%);
  /* IE10+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff', endColorstr='transparent',GradientType=0 );
  /* IE6-9 */
  background: linear-gradient(top, #fff 0%, rgba(255, 255, 255, 0.7) 40%, transparent 100%);
  /* W3C */ }
.s12__content {
  position: relative;
  margin: auto;
  max-width: 800px;
  z-index: 1; }
  .s12__content img {
    margin: auto;
    width: 70%; }
  .s12__content span,
  .s12__content p {
    font-size: inherit; }
  .s12__content hr {
    border-color: #f5426c; }
  .s12__content .col-4 {
    text-align: center; }
  .s12__content .col-5 {
    font-size: 1.2rem; }
  .s12__content .col-5:before,
  .s12__content .s12__follow:before {
    vertical-align: bottom;
    content: "";
    display: inline-block;
    width: 0;
    height: 100%; }
  .s12__content .social {
    margin: 0; }
  .s12__content .social li {
    padding: 0;
    margin-bottom: 10px; }
.s12__contactus, .s12__followus {
  vertical-align: bottom;
  display: inline-block; }
  .s12__contactus label, .s12__followus label {
    display: block;
    padding-bottom: 20px;
    font-weight: lighter; }
.s12__contactus {
  position: relative;
  left: 30%;
  width: 60%; }
.s12__followus {
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%); }
.s12__logo {
  margin: 15px 0;
  width: 50%; }
.s12__logo:before {
  content: "";
  display: block;
  width: 100%;
  padding-top: 21%;
  background-image: url(../images/13-populstay.png);
  background-size: 100% auto;
  background-repeat: no-repeat; }

/* end of section 12 */
/* news */
.s13__title, .s13__text {
  display: block;
  max-width: 530px;
  margin: auto;
  margin-bottom: 40px; }
.s13__text {
  max-width: 600px; }
.s13__list li {
  display: inline-block;
  margin: 0 10px; }
.s13__list img {
  height: 30px; }

/* end of news */
@media screen and (min-width: 1025px) {
  .s1__bg-points {
    background-image: url(../images/2-bg-points.png); } }
@media screen and (max-height: 900px) {
  /* section 6 */
  .s6__content {
    max-width: 600px; }

  /* end of  section 6 */ }
@media screen and (max-height: 800px) {
  .outline-dot--lg ~ .dot:nth-child(n+5) {
    display: none; }

  /* section 6 */
  .s6__content span {
    word-wrap: break-word; }
  .s6__content .title__2 {
    margin-bottom: 15px; }
  .s6__content .col-4 {
    margin-bottom: 10px; }

  /* end of  section 6 */
  .s9__bg-cover,
  .s10__bg-cover,
  .s11__bg-cover,
  .s12__bg-cover {
    max-width: 960px; }

  /* section 9 */
  .s9 {
    max-width: 960px; }
    .s9 .title__2 {
      margin-left: -15px; }
    .s9 .left-1 {
      margin-top: -334px; }

  /* end of section 9 */ }
@media screen and (max-height: 700px) {
  .title__2 {
    font-size: 3.0rem; }
  .title__3 {
    font-size: 2.0rem; }
  .title__4 {
    font-size: 1.6rem; }

  a, p, label {
    font-size: 1.3rem; }

  span {
    font-size: 1.1rem; }

  /* section 0 */
  .s0__content .title__4 {
    max-width: 40px; }

  /* end of section 0 */
  /* section 2 */
  .s2__content {
    max-width: 500px; }

  /* end of section 2*/
  /* section 4 */
  .s4__content {
    max-width: 600px; }

  /* end of section 4 */
  /* section 5 */
  .s5__content h4 {
    -webkit-transform: translateY(8px);
    -moz-transform: translateY(8px);
    -o-transform: translateY(8px);
    -ms-transform: translateY(8px);
    transform: translateY(8px); }
  .s5__content .col-4 {
    padding-right: 0;
    padding-left: 100px;
    max-width: 360px; }

  /* end of section 5*/
  /* section 6 */
  .s6__content {
    max-width: 500px;
    margin-top: 50px; }
    .s6__content .col-4 {
      padding: 0 10px; }

  /* end of  section 6 */
  /* section 9 */
  .s9 ul {
    margin: 0 7px; }
  .s9 li {
    line-height: 1.3em; }
  .s9 .left-1 {
    margin-top: -270px; }
  .s9 .right-2 {
    margin-top: -50px; }

  /* end of section 9 */ }
@media screen and (max-height: 650px) {
  /* section 0 */
  .s0__content {
    top: 14%; }

  /* end of section 0 */
  /* section 5 */
  .s5__content .col-8 {
    max-width: 60%; }

  /* end of section 5 */
  .s6__content {
    position: relative;
    top: 5%;
    margin-top: 0; }
    .s6__content .col-4 {
      padding: 0 15px; }

  /* end of  section 6 */
  /* section 8 */
  .s8__content {
    max-width: 750px; }

  /* end of section 8 */
  /* section 11 */
  .s11__form {
    top: 7%;
    max-width: 600px; }

  /* end of section 11 */ }
@media screen and (max-height: 600px) {
  input,
  textarea {
    font-size: 1.2rem; }

  input {
    min-height: 30px;
    line-height: 18px; }

  button {
    font-size: 1.2rem;
    min-height: 30px; }

  .outline-dot--lg ~ .dot:nth-child(n+3) {
    display: none; }

  /* section 7 */
  .s7__avatar {
    width: 100px; }
  .s7__content {
    max-width: 750px; }
    .s7__content .title__4 {
      max-width: 150px; }

  /* end of section 7 */
  /* section 8 */
  .s8__content {
    max-width: 600px; }

  /* end of section 8 */
  /* section 10 */
  .s10__form-group {
    min-height: 42px; }

  /* end of section 10 */ }
@media screen and (max-height: 550px) {
  a, p, label {
    font-size: 1.2rem; }

  .top-dot__container {
    display: none; }

  /* section 0 */
  .s0__title {
    width: 40%; }
  .s0__benifits {
    padding: 10px 0; }
  .s0__benifits li label {
    margin: 10px auto 5px;
    font-size: 1.2rem; }
  .s0__benifits li span {
    font-size: 1.0rem; }

  /* end of section 0 */
  /* section 1 */
  .s1__people {
    max-width: 180px; }
  .s1__link {
    max-width: 50px; }

  /* end of section 1 */
  /* section 5 */
  .s5__content .col-8 {
    max-width: 50%; }

  /* end of section 5 */
  /* section 6 */
  .s6__content {
    top: auto; }

  /* end of section 6 */
  /* section 9 */
  .s9 li {
    font-size: 1.1rem; }
  .s9 .left-1 {
    margin-top: -230px; }
  .s9 .left-2 {
    margin-top: -84px; }
  .s9 .right-2 {
    margin-top: -65px; }

  /* end of section 9 */ }
/* end of page */

/*# sourceMappingURL=app.css.map */
