* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
  color: #fff;
  font-family: Calibri, "PT Sans", "Helvetica Neue", "Open Sans", Helvetica, Arial, sans-serif;
}

#fp-nav ul li .fp-tooltip,
.section h1,
.section h2,
.section h3,
.title-font,
.section-10__button {
  font-family: "Helvetica Rounded CondensedBd", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1,
.title {
  font-size: 5.0rem;
}

h2,
.keywords,
.big-hint {
  font-size: 4.0rem;
}

h3 {
  font-size: 3.2rem;
}

.subtitle {
  font-size: 2.4rem;
}

h4,
label,
p,
a,
i {
  font-size: 1.6rem;
}

h5,
span {
  font-size: 1.2rem;
}

p {
  line-height: 1.6em;
}

a {
  color: inherit;
  text-decoration: underline;
}

ul {
  padding-left: 0;
  margin: 0;
  list-style: none;
}

button {
  border: 0;
  height: 30px;
  background-color: #f5426c;
  font-weight: bold;
  border-radius: 4px;
}

button > span {
  vertical-align: -webkit-baseline-middle;
}

.tiny-font {
  font-size: 1.1rem;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.float-right {
  float: right;
}

.media-top {
  display: table-cell;
  vertical-align: top;
}

.section {
  background-color: #151b4e;
}

.container {
  max-width: 960px;
  margin: auto;
}

.em-text {
  color: #f5426c;
}

.robot:before {
  padding-top: 200%;
  background-image: url(../images/robot.png);
}

/* social icon list */
.icon-list {
  margin: 0 -5px;
}

.icon-list__item {
  display: inline-block;
  padding: 0 5px;
}
/* end of social icon list */

/* dot */
.dot-container:before,
.dot-container:after {
  content: "";
}

.dot-container:before,
.dot-container:after,
.dot {
  display: block;
  margin: 0 2px;
  width: 6px;
  height: 6px;
  background-color: #f5426c;
  border-radius: 50%;
}

.outline-dot {
  text-align: center;
  display: block;
  border-style: solid;
  border-radius: 50%;
  background-color: #151b4e;
}

.outline-dot:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
}

.top-dot-container {
  position: absolute;
  top: 0;
  left: 50%;
  padding: 30px 0;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
}

.road-dot-container .outline-dot,
.top-dot-container .outline-dot {
  margin-bottom: 10px;
  width: 30px;
  height: 30px;
  border-width: 2px;
  border-color: #f5426c;
}

.road-dot-container .outline-dot:before,
.top-dot-container .outline-dot:before {
  margin: 6px;
  width: 14px;
  height: 14px;
  background-color: #f5426c;
}

.top-dot-container .dot {
  margin: 5px auto;
}
/* end of dot */

/* column */
.row {
  display: table;
  width: 100%;
}

.col-4 {
  float: left;
  width: 33.333333%;
}

.col-6 {
  float: left;
  width: 50%;
}

.col-8 {
  float: left;
  width: 66.666666%;
}
/* end of column */

/* Overwrite fullpage.js */
.fp-slidesNav ul li:hover a span,
.fp-slidesNav ul li a.active span,
.fp-slidesNav ul li:hover a.active span,
#fp-nav ul li:hover a span,
#fp-nav ul li:hover a.active span,
#fp-nav ul li a.active span,
#fp-nav ul li a span {
  margin: -5px 0 0 -5px;
  width: 12px;
  height: 12px;
  background-color: #fff;
  opacity: 0.5;
}

.fp-slidesNav ul li a.active span,
.fp-slidesNav ul li:hover a.active span,
#fp-nav ul li:hover a.active span,
#fp-nav ul li a.active span {
  opacity: 1;
}

#fp-nav ul li .fp-tooltip {
  font-size: 12px;
}
/* end of Overwrite fullpage.js */